---
layout: layouts/page
title: Grumpy Blog
lang: en
description: 'Webdev, life & whining.'
image: /pics/cover.png
tags:
    - root
    - page
permalink: en/
---

<div class="text">
    <h2>20 years in one tweet</h2>

    <p>
    Dropped out of the uni. Worked here and there. Joined Getwear, <a href="https://www.smashingmagazine.com/2015/11/lessons-learned-shutting-startup/">it didn't last long</a>. Launched a new startup with the same founders – <a href="https://chatra.com/">Chatra</a>. Worked my ass off for the success of the product. The product succeeded – Chatra was acquired by <a href="https://www.brevo.com/">Brevo</a> ✨
    </p>

    <p>
    Now I work at Brevo and launch small indie things in my free time for fun.
    </p>
</div>

<%-
    include('/modules/postsList', {
        posts: $.collections.post,
        lang: $.lang
    })
%>
