---
layout: layouts/page
title: Will finish in the morning
lang: en
tags:
    - root
permalink: en/
---

<div class="text">
    <p>
        This is Oleg Korsunsky’s blog. It contains all sorts of whining and a little something about web dev.
    </p>
</div>

<ul class="post-list">
    <%
        collections.post
            .filter(post => post.data.lang === 'en')
            .reverse()
            .forEach(post => {
    %>
        <li class="post-list__item">
            <a class="link" href="<%= post.url %>"><%=
                post.data.title
            %></a>

            <span class="post-list__item-date">
                —
                <%-
                    include('/modules/parsedDate', {
                        dateString: post.data.date,
                        lang: 'en'
                    })
                %>
            </span>
        </li>
    <% }); %>
</ul>
