---
layout: layouts/page
title: Grumpy Blog
lang: en
description: 'All sorts of whining and a bit about web dev.'
image: /pics/cover.png
tags:
    - root
    - page
permalink: en/
---

<p>
    <%= $.description %>
</p>

<%-
    include('/modules/postsList', {
        posts: $.collections.post,
        lang: $.lang
    })
%>
