---
layout: layouts/page
title: Will finish in the morning
lang: en
tags:
    - root
permalink: en/
---

<div class="text">
    <p>
        This is Oleg Korsunsky’s blog. It contains all sorts of whining and a little something about web dev.
    </p>
</div>

<%-
    include('/modules/postsList', {
        posts: collections.post.filter(
            post => !post.data.tags.includes('archive')
        ),
        lang
    })
%>

<div class="text-tinted">
    <h2 class="post-list-title">Archive of outdated crap</h2>

    <p class="post-list-description">
        Old posts that have no practical use and are left for history.
    </p>
</div>
<%-
    include('/modules/postsList', {
        posts: collections.post.filter(
            post => post.data.tags.includes('archive')
        ),
        isArchive: true,
        lang
    })
%>
