---
layout: layouts/page
title: Will finish in the morning
lang: en
tags:
    - root
permalink: en/
---

<div class="text">
    <p>
        This is Oleg Korsunsky’s blog. It contains all sorts of whining and a little something about web dev.
    </p>
</div>

<%-
    include('/modules/postsList', {
        posts: $.collections.post,
        lang: $.lang
    })
%>
