---
layout: layouts/page
title: Grumpy Blog
lang: ru
description: 'Жизнь, нытье и вебдев. Бложек Олега Корсунского.'
image: /pics/cover.png
tags:
    - root
    - page
permalink: /
---

<div class="text">
    <h2>20 лет в одном твите</h2>

    <p>
        Бросил университет. Работал там и сям. Присоединился к Гетвеару, но <a href="https://www.smashingmagazine.com/2015/11/lessons-learned-shutting-startup/">долго это не продлилось</a>. Запустили новый стартап с теми же основателями – <a href="https://chatra.com/">Чатру</a>. Въёбывал ради успеха продукта. Продукт преуспел – Чатру купила <a href="https://www.brevo.com/">Брево</a> ✨
    </p>

    <p>
        Теперь я работаю в Брево и в свободное время запускаю мелкие инди-штуки ради фана.
    </p>
</div>

<%-
    include('/modules/postsList', {
        posts: $.collections.post,
        lang: $.lang
    })
%>
