---
layout: layouts/page
title: Утром доделаю
lang: ru
tags:
    - root
permalink: /
---

<div class="text">
    <p>
        Тут всякое нытье и че-то про разработку.
    </p>
</div>

<%-
    include('/modules/postsList', {
        posts: collections.post,
        lang
    })
%>
