---
layout: layouts/page
title: Grumpy Blog
lang: ru
tags:
    - root
permalink: /
---

<p>
    Всякое нытье и че-то про разработку.
</p>

<%-
    include('/modules/postsList', {
        posts: $.collections.post,
        lang: $.lang
    })
%>
