---
layout: layouts/page
title: Grumpy Blog
lang: ru
description: 'Всякое нытье и че-то про вебдев.'
image: /pics/cover.png
tags:
    - root
permalink: /
---

<p>
    <%= $.description %>
</p>

<%-
    include('/modules/postsList', {
        posts: $.collections.post,
        lang: $.lang
    })
%>
