[submodule "_src/peppermint"]
	path = _src/peppermint
	url = https://github.com/wilddeer/Peppermint.git
[submodule "_src/sniffer"]
	path = _src/sniffer
	url = https://github.com/wilddeer/Sniffer.git
[submodule "_src/burrito"]
	path = _src/burrito
	url = https://github.com/wilddeer/Event-Burrito.git
[submodule "_includes/ios7-switch"]
	path = _includes/ios7-switch
	url = https://github.com/wilddeer/ios7-switch.git
[submodule "_src/stickyfill"]
	path = _src/stickyfill
	url = https://github.com/wilddeer/stickyfill.git
