---
layout: layouts/base
title: Not found!
permalink: 404.html
tags:
    - root
    - page
---

<main class="window-centered">
    <div class="page">
        <div class="text">
            <h1>404!</h1>
            <p>
                There’s nothing here, but there’s definitely something on the <a href="/">main page</a>.
            </p>
        </div>
    </div>
</main>

