.demo
    color: $inverseTextColor
    background: $demoBgColor
    padding: 5em 1.5em
    margin-bottom: 2.5em

    &.is-fullwidth
        padding-left: 0
        padding-right: 0

    &.is-light
        background: rgba(#766, 0.1)
        color: $textColor

