.font-size
    &.is-heading-2
        font-size: $heading2FontSize

    &.is-heading-3
        font-size: $heading3FontSize

    &.is-small
        font-size: $smallFontSize

    &.is-smaller
        font-size: $smallerFontSize
