.footer
    @mixin contentBox
    margin-top: 3em
    margin-bottom: 2em
    color: $inactiveTextColor
    font-size: $smallerFontSize

    &.is-root
        @media (min-width: $phoneBreakpoint)
            margin-bottom: 6em

        @media (min-width: $pcBreakpoint)
            margin-bottom: 20vh

    &__el:not(:last-of-type):after
        content: ' • '

