.input
    padding: 0.5em 0.7em
    border: 1px solid $regularBorderColor
    border-radius: 0.2em
    transition: 0.1s ease
    transition-property: box-shadow

    &:focus
        @mixin formElFocus
