.post-list-title
    font-size: 1.5em
    margin-bottom: 0.25em
    margin-top: 2em

    &.is-empty
        color: $inactiveTextColor

    // &.is-empty,
    // &.is-empty + &
    //     margin-top: 0

    &__tumble
        font-size: 1.5em
        margin-left: 0.2em
        vertical-align: -0.2em
