.post
    padding-top: 2.5em
    padding-bottom: 2.5em
    background: #fff
    box-shadow: 0 0 10px rgba(100, 80, 0, 0.12)

    @media (min-width: $pcBreakpoint)
        padding-top: 11vh
        padding-bottom: 11vh

    &.is-no-padding-top
        padding-top: 0

    &__content
        @mixin contentBox

    &__meta
        @mixin contentBox
        padding-top: 2em
        color: $inactiveTextColor
        font-size: $smallFontSize

