.post-list-title
    font-size: 1.5em
    margin-bottom: 0.25em
    margin-top: 2em

    &.is-empty
        color: $inactiveTextColor

    &__tumble
        line-height: 0
        font-size: 1.5em
        margin-left: 0.2em
        vertical-align: -0.2em
