.state-color
    color: $unimportantColor

    &--info
        color: infoColor

    &--success
        color: $successColor

    &--warning
        color: $warningColor

    &--danger
        color: $dangerColor
