{% capture whitespaces %}
{% if include.noYear %}
    {% capture date %}{{ include.d | date: "%b %-d" }}{% endcapture %}
{% else %}
    {% capture date %}{{ include.d | date: "%B %-d, %Y" }}{% endcapture %}
{% endif %}

{% if page.lang == 'ru' %}
{% if include.noYear %}
    {% capture date %}{{ include.d | date: "%-d %B" }}{% endcapture %}
{% else %}
    {% capture date %}{{ include.d | date: "%-d %B %Y" }}{% endcapture %}
{% endif %}
{% capture date %}{{ date | replace: 'January', 'января' | replace: 'February', 'февраля' | replace: 'March', 'марта' | replace: 'April', 'апреля' | replace: 'May', 'мая' | replace: 'June', 'июня' | replace: 'July', 'июля' | replace: 'August', 'августа' | replace: 'September', 'сентября' | replace: 'October', 'октября' | replace: 'November', 'ноября' | replace: 'December', 'декабря' }}{% endcapture %}
{% endif %}
{% endcapture%}{{ date }}
