{% capture whitespaces %}
{% include slug.htm c=page.categories id=page.id %}
{% assign alt = include.a %}

{% if include.a %}
	{% assign alt = include.a %}
{% else %}
	{% assign alt = include.c %}
{% endif %}

{% if include.c %}
	{% capture caption %}<figcaption>{{ include.c }}</figcaption>{% endcapture %}
{% else %}
	{% assign caption = '' %}
{% endif %}
{% endcapture %}
{% if include.float %}<div>{% endif %}
<figure{% if include.float %} class="float-{{ include.float }}"{% endif %}>
	{% if include.t %}{{ caption }}{% endif %}
	{% if include.p %}
	<a href="/pics/{{slug}}/{{ include.src }}" target="_blank" title="{{ site.loc.original_image[page.lang] }}"><img src="/pics/{{slug}}/p_{{ include.src }}" alt="{{ alt | strip_html }}"></a>
	{% else %}
	<a href="/pics/{{slug}}/{{ include.src }}" target="_blank" title="{{ site.loc.original_image[page.lang] }}"><img src="/pics/{{slug}}/{{ include.src }}" alt="{{ alt | strip_html }}"></a>
	{% endif %}
	{% unless include.t %}{{ caption }}{% endunless %}
</figure>
{% if include.float %}</div>{% endif %}