<ul class="posts">
	{% for post in site.posts %}
		{% include cats.htm c=post.categories %}
		{% if site.cats[cats] and site.cats[cats].link != page.cat %}
			{% capture cat %}<span class="cat-link">(<a href="{{site.path[page.lang]}}{{ site.cats[cats].link }}/">{{site.cats[cats][page.lang]}}</a>)</span>{% endcapture %}
		{% else %}
			{% assign cat = "" %}
		{% endif %}
		{% if post.lang == page.lang %}
			{% if (post.categories contains page.cat) or (page.cat == false) %}
			<li><a href="{{ post.url }}">{{ post.title }}</a> {{ cat }} <time datetime="{{ post.date }}">{% include date.htm d=post.date %}</time></li>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>