.js-gallery.active {
	max-width: 1920px; /*120rem*/
}

.js-gallery .captions {
	font-size: 14px; /*0.9rem*/
	margin-bottom: 8px; /*0.5rem*/
}

.js-gallery .captions > span.arr {
	padding-right: 16px;
	padding-left: 16px;
	font-size: 24px;
}

.js-gallery .captions > span.dot {
	height: 8px; /*0.5rem*/
	width: 8px; /*0.5rem*/
	border-radius: 16px; /*1rem*/
}

.js-gallery .slides {
	margin-bottom: 16px; /*1rem*/
	padding-bottom: 8px; /*0.5rem*/
	padding-top: 8px; /*0.5rem*/
}

.js-gallery.active figure {
	padding-right: 16px; /*1rem*/
	padding-left: 16px; /*1rem*/
}





.gallery,
.js-gallery {
	vertical-align: top;
	text-align: center;
}

.js-gallery.active {
	position: relative;
	padding-left: 0;
	padding-right: 0;
	max-width: 120rem;
	overflow: hidden;
}

.js-gallery .captions {
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
	text-align: center;
	display: none;
}

.js-gallery .captions > button {
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	line-height: 1.6;
	padding: 0;
	background: transparent;
	border: 0;
}

.js-gallery .captions > button.arr {
	padding-right: 1rem;
	padding-left: 1rem;
	color: #9b9890;
	font-size: 1.5rem;
	width: auto;
	height: auto;
}

html.no-fontface .js-gallery .captions > button.arr {
	opacity: 0.7;
}

html.bw .js-gallery .captions > button.arr {
	color: #000;
}

.js-gallery .captions > button.arr:first-of-type {
	float: left;
}

.js-gallery .captions > button.arr:last-of-type {
	float: right;
}

.js-gallery .captions > button.arr[disabled] {
	color: #dfdddd;
	cursor: default;
}

html.no-fontface .js-gallery .captions > button.arr[disabled] {
	opacity: 0.2;
}

html.bw .js-gallery .captions > button.arr[disabled] {
	color: #999;
}

.js-gallery .captions > button.dot {
	margin-right: 0.5em;
	margin-left: 0.5em;
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 1.2rem;
	border: 1px solid #9b9890;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html.bw .js-gallery .captions > button.dot {
	border-color: #000;
}

.js-gallery .captions > button.dot.active {
	background: #9b9890;
}

html.bw .js-gallery .captions > button.dot.active {
	background: #000;
}

.js-gallery .captions > button.dot > span {
	display: none;
}

.js-gallery .slides {
	z-index: 0;
	position: relative;
	overflow: hidden;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-bottom: 1rem;
	-ms-touch-action: pan-y;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.js-gallery.active .slides figure {
	width: 100%;
	margin: 0;
	float: left;
	padding-left: 1rem;
	padding-right: 1rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html.ie.winphone .js-gallery .slides figure a,
html.ie.winphone .js-gallery .slides figure img {
	outline: none;
}

.js-gallery.active .captions,
.js-gallery.active .slides,
.js-gallery.active .slides figure,
.js-gallery.active .slides figure a,
.js-gallery.active .slides figure img,
.js-gallery.active .slides figure figcaption {
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.js-gallery.active .captions {
	display: block;
}


{% unless include.ie %}
@media all and (min-width: 50em) {
{% endunless %}
	/* gallery */

	.js-gallery .captions > button.arr {
		display: none;
	}

	.js-gallery .captions > button.dot {
		width: auto;
		height: auto;
		padding: 0.3em 0.5em 0.35em;
		margin-bottom: 0.55em;
		border: 1px dashed transparent;
		border-radius: 0.5em;
		position: relative;
		background: transparent;
	}

	html.bw .js-gallery .captions > button.dot {
		background: transparent;
	}

	.js-gallery .captions > button.dot:hover {
		border-color: #e6e4e1;
	}

	html.bw .js-gallery .captions > button.dot:hover {
		border-color: #aaa;
	}

	.js-gallery .captions > button.dot.active {
		border: 1px solid #dfddd7;
		background: transparent;
	}

	html.bw .js-gallery .captions > button.dot.active {
		border-color: #333;
		background: transparent;
	}

	html.csstransforms .js-gallery .captions > button.dot.active:after {
		position: absolute;
		content: '';
		top: 100%;
		left: 50%;
		width: 0.6em;
		height: 0.6em;
		margin-left: -0.3em;
		margin-top: -0.3em;
		background: white;
		border: 1px solid #dfddd7;
		border-left: 0;
		border-top: 0;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	html.csstransforms.bw .js-gallery .captions > button.dot.active:after {
		border-color: #333;
	}

	.js-gallery .captions > button.dot > span {
		display: inline;
		color: #168cd2;
		border-bottom: 1px dashed;
		white-space: nowrap;
	}

	html.bw .js-gallery .captions > button.dot > span {
		color: #000;
	}

	.js-gallery .captions > button.dot:hover > span {
		border-bottom-color: transparent;
	}

	.js-gallery .captions > button.dot.active > span {
		color: inherit;
		border-bottom-color: transparent;
	}

	.js-gallery.active figure figcaption {
		display: none;
	}

{% unless include.ie %}
}
{% endunless %}

{% unless include.ie %}
@media all and (min-width: 30em) {
{% endunless %}

	.gallery figure,
	.js-gallery figure {
		display: inline-block;
		padding-right: 0.5em;
		padding-left: 0.5em;
		max-width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

{% unless include.ie %}
}
{% endunless %}

{% unless include.ie %}
@media all and (min-width: 40em) {
{% endunless %}
	/* gallery */
	.js-gallery .captions > button.arr {
		padding-right: 2rem;
		padding-left: 2rem;
	}
{% unless include.ie %}
}
{% endunless %}

{% unless include.ie %}
@media all and (min-width: 75em) {
{% endunless %}

	.gallery figure,
	.js-gallery figure {
		padding-right: 1em;
		padding-left: 1em;
	}

{% unless include.ie %}
}
{% endunless %}

{% unless include.ie %}
@media all and (min-width: 100em) {
{% endunless %}

	.js-gallery.active:before {
		display: block;
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		bottom: 0;
		width: 19%;
		z-index: 10;
		background-image: linear-gradient(90deg, rgba(255,255,255,1), rgba(255,255,255,0));
	}

	.js-gallery.active:after {
		display: block;
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		width: 19%;
		z-index: 10;
		background-image: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,1));
	}

{% unless include.ie %}
}
{% endunless %}