@charset "utf-8"

@-ms-viewport
    width device-width

@viewport
    width device-width
    
*
    margin 0
    padding 0
    word-wrap break-word
    
ul
    list-style-type none

@import "styl/animations"
@import "styl/font-face"

@import "css/**/*.css"
@import "styl/main"
@import "styl/blocks/**/[!_]*.styl"
