@keyframes ondrugs
	from
		color #1be5a0
		background #000
		transform translate(0.1em,-0.1em)

	12.5%
		color #b33aff
		background #1be5a0
		transform translate(-0.32em,0.44em)

	25%
		color #fffe00
		background #b33aff
		transform translate(-0.2em,-0.4em)

	37.5%
		color #f12938
		background #fffe00
		transform translate(0.04em,-0.2em)

	50%
		color #62e51b
		background #f12938
		transform translate(0,0)

	62.5%
		color #2751ef
		background #62e51b
		transform translate(-0.4em,-0.1em)

	75%
		color #ffc600
		background #2751ef
		transform translate(0.3em,-0.3em)

	87.5%
		color #000
		background #ffc600
		transform translate(-0.4em,0.4em)

	to
		color #1be5a0
		background #000
		transform translate(0.1em,-0.1em)

@keyframes heartbeat
	from
		opacity 0

	20%
		opacity 1

	to
		opacity 0
