/* 
CLASSES
*/
/* sizes */
.big {
	font-size: 1.2em;
}

.small {
	font-size: 0.8em;
}

.tiny {
	font-size: 0.6em;
}

/* colors */
.info {
	color: #7cb8e4;
}

.green {
	color: #94de35;
}

.red {
	color: #de3535;
}

.insignificant {
	color: #999;
}

.inconsiderable {
	color: #666;
}

/* responsive */
.hidden-mobile {
	display: none;
}

@media all and (min-width: 45em) {
	.hidden-tablet {
		display: none;
	}

	.hidden-mobile {
		display: block;
	}
}

/* buttons */
.btn {
	border: 0;
	padding: 0.5em;
	border-radius: 0.2em;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.7),
						inset 0 -1px 1px -1px rgba(0,0,0,0.3),
						0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 1px rgba(255,255,255,0.7),
				inset 0 -1px 1px -1px rgba(0,0,0,0.3),
				0 1px 3px rgba(0, 0, 0, 0.2);
	background-repeat: no-repeat;
	background-color: #7f7c79;
	background-image: -webkit-linear-gradient(#7f7c79, #4f4c4b);
	background-image: -moz-linear-gradient(#7f7c79, #4f4c4b);
	background-image: linear-gradient(#7f7c79, #4f4c4b);
	-webkit-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn:hover {
	background-position: 0 0.5em;
}

.btn:active,
.btn.active {
	-webkit-box-shadow: inset 0 0.15em 0.15em 0.1em rgba(0,0,0,0.3);
	box-shadow: inset 0 0.15em 0.15em 0.1em rgba(0,0,0,0.3);
}

.btn-green {
	background-color: #9ee345;
	background-image: -webkit-linear-gradient(#9ee345, #4e6d23);
	background-image: -moz-linear-gradient(#9ee345, #4e6d23);
	background-image: linear-gradient(#9ee345, #4e6d23);
}

.btn-hover-green:hover,
.btn-hover-green:active,
.btn-hover-green.active {
	background-color: #9ee345;
	background-image: -webkit-linear-gradient(#9ee345, #4e6d23);
	background-image: -moz-linear-gradient(#9ee345, #4e6d23);
	background-image: linear-gradient(#9ee345, #4e6d23);
}

.btn-hover-red:hover,
.btn-hover-red:active,
.btn-hover-red.active {
	background-color: #e35845;
	background-image: -webkit-linear-gradient(#e35845, #6d2323);
	background-image: -moz-linear-gradient(#e35845, #6d2323);
	background-image: linear-gradient(#e35845, #6d2323);
}

.btn-flat {
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
	background-image: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
	background-image: -moz-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.btn-flat:hover,
.btn-flat:active,
.btn-flat.active {
	background-position: 0 0;
	background-image: -webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
	background-image: -moz-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.btn-rounded {
	padding: 0.5em 1em;
	border-radius: 2em;
}

.btn-small {
	font-size: 0.9em;
	padding: 0.25em 0.5em;
}

.btn-rounded.btn-small {
	padding: 0.25em 0.75em;
}

.btn[disabled],
.bnt.disabled {
	opacity: 0.65;
	pointer-events: none;
}

/* pseudo links */
.pseudo-link {
	display: inline;
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	color: #168cd2;
}

.pseudo-link:hover {
	color: #2ac6ed;
}

.pseudo-link > span {
	border-bottom: 1px dashed;
}

/*icon links */
a[class*="icon-b-"],
.pseudo-link[class*="icon-b-"] {
	padding-left: 20px;
}

a[class*="icon-b-"]:before,
.pseudo-link[class*="icon-b-"]:before {
	margin-left: -20px;
	margin-right: 4px;
	vertical-align: -2px;
}

a[class*="icon-a-"],
.pseudo-linka[class*="icon-a-"] {
	padding-right: 20px;
}

a[class*="icon-a-"]:after,
.pseudo-linka[class*="icon-a-"]:after {
	margin-right: -20px;
	margin-left: 4px;
	vertical-align: -2px;
}

/* icon lists */
li[class*="icon-"] {
	position: relative;
	list-style-type: none;
}

li[class*="icon-"]:before {
	position: absolute;
	margin-left: -16px;
	left: -0.5em;
	top: 0.25em;
}

/* hr */
.hr {
	margin: 0 0 0.5em;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}

.hr:before,
.hr:after {
	content: '';
	position: relative;
	display: inline-block;
	width: 50%;
	height: 0;
	vertical-align: middle;
	border-bottom: 1px solid;
	border-color: #464646; /* fallback */
	border-color: rgba(255,255,255,0.2);
}

.hr:before {
	left: -0.5em;
	margin: 0 0 0 -50%;
}

.hr:after {
	left: 0.5em;
	margin: 0 -50% 0 0;
}

/* table wrap */
.table-wrap {
	overflow: auto;
	width: 100%;
}

/* peppermint slider */
.peppermint.active ul.dots > li > span {
	background: #fff;
}

.peppermint.active ul.dots > li.active > span {
	background: transparent;
	border-color: #fff;
}