/*
GRID
*/
.grid-base .grid-base {
	margin-left: 0;
	margin-right: 0;
}

.grid-base > * {
	margin-left: 3%;
	margin-right: 3%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.grid-base:after,
.grid-cell:after {
	content: '';
	display: table;
	clear: both;
}

.grid-fullwidth {
	margin-left: 0;
	margin-right: 0;
}

@media all and (min-width: 45em) {
	[class*="grid-col-"] {
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-left: 1.5%;
		margin-right: 1.5%;
	}

	[class*="grid-col-"]:first-child {
		margin-left: 0;
	}

	[class*="grid-col-"]:last-child {
		margin-right: 0;
	}

	[class*="grid-col-"].grid-text-right {
		text-align: right;
	}

	.grid-col-1 {
		width: 7.3%;
	}

	.grid-col-2 {
		width: 17.6%;
	}

	.grid-col-3 {
		width: 27.9%;
	}

	.grid-col-4 {
		width: 38.2%;
	}

	.grid-col-5 {
		width: 48.5%;
	}

	.grid-col-6 {
		width: 58.8%;
	}

	.grid-col-7 {
		width: 69.1%;
	}

	.grid-col-8 {
		width: 79.4%;
	}

	.grid-col-9 {
		width: 89.7%;
	}
}