/*
MODULES
*/
/* gallery */
.gallery.peppermint.inactive {
	white-space: nowrap;
	word-wrap: normal;
	overflow: auto;
}

.gallery.peppermint.inactive figure {
	display: inline-block;
	margin-bottom: 0;
}

.gallery.peppermint.inactive figure img {
	max-width: 100vw;
}

.gallery.peppermint figure img {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.gallery .viewport {
	position: relative;
}

.gallery .viewport .arrow-prev,
.gallery .viewport .arrow-next {
	background: rgba(0,0,0,0); /* ie mobile fix */
	visibility: hidden;
	position: absolute;
	display: none;
	top: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	opacity: 0;
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}

.gallery.peppermint.active .viewport .arrow-prev,
.gallery.peppermint.active .viewport .arrow-next {
	display: block;
}

.gallery .viewport .arrow-prev:before,
.gallery .viewport .arrow-next:before {
	position: absolute;
	top: 50%;
	margin-top: -8px;
}

.gallery .viewport .arrow-prev:before {
	right: 15px;
}

.gallery .viewport .arrow-next:before {
	left: 15px;
}

@media all and (min-width: 35em) {
	.gallery .viewport .arrow-prev,
	.gallery .viewport .arrow-next {
		width: 50px;
	}

	.gallery .viewport .arrow-prev:before,
	.gallery .viewport .arrow-next:before {
		margin-top: -12px;
	}

	.gallery .viewport .arrow-prev:before {
		right: 0;
	}

	.gallery .viewport .arrow-next:before {
		left: 0;
	}
}

.gallery .viewport .arrow-prev {
	left: 0;
	-webkit-transform: translate3d(-50px,0,0);
	transform: translate3d(-50px,0,0);
}

.gallery .viewport .arrow-next {
	right: 0;
	-webkit-transform: translate3d(50px,0,0);
	transform: translate3d(50px,0,0);
}

.gallery .viewport:hover .arrow-prev.auto,
.gallery .viewport:hover .arrow-next.auto,
.gallery .viewport .arrow-prev.shown,
.gallery .viewport .arrow-next.shown {
	visibility: visible;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	opacity: 1;
}

.gallery .viewport .arrow-prev.disabled,
.gallery .viewport .arrow-next.disabled {
	cursor: default;
}

.gallery .viewport:hover .arrow-prev.auto.disabled,
.gallery .viewport:hover .arrow-next.auto.disabled,
.gallery .viewport .arrow-prev.shown.disabled,
.gallery .viewport .arrow-next.shown.disabled {
	opacity: 0.3;
}

html.no-opacity .gallery .viewport:hover .arrow-prev.auto.disabled,
html.no-opacity .gallery .viewport:hover .arrow-next.auto.disabled,
html.no-opacity .gallery .viewport .arrow-prev.shown.disabled,
html.no-opacity .gallery .viewport .arrow-next.shown.disabled {
	display: none;
}

.gallery .thumbs {
	display: none;
}

@media all and (min-width: 45em) {
	.gallery.peppermint figure img {
		-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
	}

	.gallery .dots {
		display: none;
	}

	html.js .gallery .thumbs.active {
		display: block;
	}
}

.gallery.peppermint figure img {
	max-height: 300px;
}

@media all and (min-height: 30em) {
	.gallery.peppermint figure img {
		max-height: 400px;
	}
}

@media all and (min-height: 40em) {
	.gallery.peppermint figure img {
		max-height: 550px;
	}
}

@media all and (min-height: 45em) {
	.gallery.peppermint figure img {
		max-height: none;
	}
}

.gallery .thumbs ul {
	white-space: nowrap;
	word-wrap: normal;
	list-style-type: none;
	padding: 0.5em 0;
	margin-bottom: 0;
}

.gallery .thumbs ul li {
	position: relative;
	display: inline-block;
	border: 2px solid;
	border-color: transparent;
	margin-bottom: 0;
	cursor: pointer;
	/* ie7 fallback */
	*display: inline;
	zoom: 1;
}

.gallery .thumbs ul li:first-child {
	margin-left: 1em;
}

.gallery .thumbs ul li:last-child {
	margin-right: 1em;
}

.gallery .thumbs ul li.active {
	border-color: #7CB8E4;
}

.gallery .thumbs ul li.active:after {
	content: '';
	position: absolute;
	display: block;
	top: -0.5em;
	left: 50%;
	margin-left: -0.25em;
	width: 0;
	border: 0.5em solid;
	border-color: transparent transparent #7CB8E4 transparent;
	border-top-width: 0;
}

/* user */
.user {
	display: inline-block;
	max-width: 100%;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	color: #aaa;
	vertical-align: middle;
}

.user .userpic {
	position: relative;
	display: inline-block;
	border-radius: 50%;
	background: #aaa;
	border: 3px solid #aaa;
	vertical-align: middle;
	overflow: hidden;
}

.user .userpic:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 50%;
	box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.6);
	display: block;
}

.user .userpic img {
	border-radius: 50%;
	vertical-align: top;
}

.user.user-square .userpic,
.user.user-square .userpic:after,
.user.user-square .userpic img {
	border-radius: 10%;
}

.user .username {
	text-decoration: underline;
}

.user .userpic + .username {
	margin-left: 0.4em;
}

.user:hover .userpic {
	background: #c0c0c0;
	border-color: #c0c0c0;
}

.user:hover {
	color: #c0c0c0;
}

.user.user-online .userpic {
	background: #7cb8e4;
	border-color: #7cb8e4;
}

.user.user-online {
	color: #7cb8e4;
}

.user.user-online:hover .userpic {
	background: #92cdf8;
	border-color: #92cdf8;
}

.user.user-online:hover {
	color: #92cdf8;
}

.user.user-ingame .userpic {
	background: #94de35;
	border-color: #94de35;
}

.user.user-ingame {
	color: #94de35;
}

.user.user-ingame:hover .userpic {
	background: #aef651;
	border-color: #aef651;
}

.user.user-ingame:hover {
	color: #aef651;
}

/* review */
.user-review .meta {
	margin-bottom: 1.5em;
}

.user-review .user {
	vertical-align: middle;
	margin-right: 0.3em;
}

.user-review .playtime {
	display: inline-block;
	color: #666;
	vertical-align: text-top;
}

.user-review .additional-info {
	color: #999;
	font-size: 0.9em;
}

html.js .user-review .review-text.collapsed {
	position: relative;
	max-height: 220px;
	overflow: hidden;
}

html.js .user-review .review-text.collapsed:after {
	content: '';
	pointer-events: none;
	position: absolute;
	display: block;
	bottom: 0;
	width: 100%;
	height: 5em;
	background-repeat: repeat-x;
	background-position: 0 100%;
	background-image: url(/steam/i/reviews-fade.png); /* fallback */
	background-image: -webkit-linear-gradient(rgba(34,34,34,0), rgba(34,34,34,255));
	background-image: -moz-linear-gradient(rgba(34,34,34,0), rgba(34,34,34,255));
	background-image: linear-gradient(rgba(34,34,34,0), rgba(34,34,34,255));
}

.user-review .expand {
	margin-top: 0.5em;
	font-size: 0.9em;
	display: none;
}

html.js .user-review .review-text.collapsed + .expand {
	display: block;
}

.user-review > footer {
	border-top: 1px solid #333;
	padding-top: 1em;
}

.user-review > footer p {
	margin-bottom: 0;
}

.user-review .vote {
	font-size: 0.9em;
}

.user-review .vote-question {
	margin-right: 0.3em;
}

.user-review .vote-buttons {
	display: inline-block;
}

.user-review .vote-form {
	display: inline;
}

.user-review .vote button {
	margin-right: 0.2em;
}

/* price area */
.price-area {
	display: inline-block;
	overflow: hidden; /* clearfix */
	vertical-align: top;
	margin-bottom: 0.5em;
}

.price-area .discount {
	float: left;
	height: 2.5em;
	line-height: 2.5em;
	padding: 0 0.5em;
	background: #94de35;
}

.price-area .discount > span {
	font-size: 1.8em;
}

.price-area .price {
	float: left;
	overflow: hidden; /* clearfix */
	height: 2.5em;
	line-height: 2.5em;
	padding: 0 0.5em;
	margin-right: 0.5em;
	background: #111;
}

.price-area .price .original-price {
	display: block;
	line-height: 1.1em;
	text-decoration: line-through;
	color: #999;
	text-align: left;
}

.price-area .price .original-price > span {
	font-size: 0.8em;
}

.price-area .price .final-price {
	display: block;
	line-height: 1.2em;
	text-align: left;
}

/* purchase button */
.game-purchase-button-form {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 0.5em;
}