
/*
  __                  __      __                     
 /\ \                /\ \    /\ \__                  
 \_\ \     __    ____\ \ \/'\\ \ ,_\   ___   _____   
 /'_` \  /'__`\ /',__\\ \ , < \ \ \/  / __`\/\ '__`\ 
/\ \L\ \/\  __//\__, `\\ \ \\`\\ \ \_/\ \L\ \ \ \L\ \
\ \___,_\ \____\/\____/ \ \_\ \_\ \__\ \____/\ \ ,__/
 \/__,_ /\/____/\/___/   \/_/\/_/\/__/\/___/  \ \ \/ 
                                               \ \_\ 
                                                \/_/ 
*/
{% unless include.ie %}
@media all and (min-width: 60em) { /* ~960px */
{% endunless %}

	/* gallery */

	.js-gallery .captions > span {
		width: auto;
		height: auto;
		padding: 0.3em 0.5em 0.35em;
		margin-bottom: 0.5rem;
		border: 1px dashed transparent;
		border-radius: 0.5em;
		position: relative;
		background: transparent;
	}

	.js-gallery .captions > span:hover {
		border-color: #e6e4e1;
	}

	.js-gallery .captions > span.active {
		border: 1px solid #dfddd7;
		background: transparent;
	}

	.csstransforms .js-gallery .captions > span.active:after {
		position: absolute;
		content: '';
		top: 100%;
		left: 50%;
		width: 0.6em;
		height: 0.6em;
		margin-left: -0.3em;
		margin-top: -0.3em;
		background: white;
		border: 1px solid #dfddd7;
		border-left: 0;
		border-top: 0;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.js-gallery .captions > span > span {
		display: inline;
		color: #168cd2;
		border-bottom: 1px dashed;
		white-space: nowrap;
	}

	.js-gallery.active figure figcaption {
		display: none;
	}

{% unless include.ie %}
}
{% endunless %}


{% unless include.ie %}
@media all and (min-width: 75em) {
{% endunless %}

	/* base */
	body > header {
		margin-top: 0;
	}

	/* grid */
	a.logo {
		position: absolute;
		right: 100%;
		bottom: 100%;
		margin-right: -2rem;
	}

	h1.title {
		padding-top: 0;
	}

	h1.title a {
		display: inline-block;
	}

	ul.lang-switcher {
		position: absolute;
		float: none;
		bottom: 100%;
		right: 2rem;
		padding: 0 0 0.1rem 0;
	}

	.content ul.posts li {
		padding-left: 0;
	}

	figure img {
		max-height: none;
	}

{% unless include.ie %}
}
{% endunless %}


{% unless include.ie %}
@media all and (min-width: 100em) {
{% endunless %}

	.js-gallery.active:before {
		display: block;
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		bottom: 0;
		width: 19%;
		z-index: 10;
		background-image: -ms-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0));
		background-image: -webkit-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0));
		background-image: -o-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0));
		background-image: -moz-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0));
		background-image: linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0));
	}

	.js-gallery.active:after {
		display: block;
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		width: 19%;
		z-index: 10;
		background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1));
		background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1));
		background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1));
		background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1));
		background-image: linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1));
	}

{% unless include.ie %}
}
{% endunless %}