
/*
  __                  __      __                     
 /\ \                /\ \    /\ \__                  
 \_\ \     __    ____\ \ \/'\\ \ ,_\   ___   _____   
 /'_` \  /'__`\ /',__\\ \ , < \ \ \/  / __`\/\ '__`\ 
/\ \L\ \/\  __//\__, `\\ \ \\`\\ \ \_/\ \L\ \ \ \L\ \
\ \___,_\ \____\/\____/ \ \_\ \_\ \__\ \____/\ \ ,__/
 \/__,_ /\/____/\/___/   \/_/\/_/\/__/\/___/  \ \ \/ 
                                               \ \_\ 
                                                \/_/ 
*/

{% unless include.ie %}
@media all and (min-width: 75em) {
{% endunless %}

	/* base */
	body > header {
		margin-top: 0;
	}

	/* grid */
	a.logo {
		position: absolute;
		right: 100%;
		bottom: 100%;
		margin-right: -2rem;
	}

	h1.title {
		padding-top: 0;
	}

	h1.title a {
		display: inline-block;
	}

	ul.lang-switcher {
		position: absolute;
		float: none;
		bottom: 100%;
		right: 2rem;
		padding: 0 0 0.1rem 0;
	}

	.content ul.posts li {
		padding-left: 0;
	}

{% unless include.ie %}
}
{% endunless %}
