@font-face {
	font-family: 'icomoon-dizaina';
	src:url('/font/icomoon.eot');
	src:url('/font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/font/icomoon.woff') format('woff'),
		url('/font/icomoon.ttf') format('truetype'),
		url('/font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'icomoon-dizaina';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: -0.1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'icomoon-dizaina';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: -0.1em;
	-webkit-font-smoothing: antialiased;
}
.icon-chevron-left:before {
	content: "\e000";
}
.icon-chevron-right:before {
	content: "\e001";
}
.icon-chevron-up:before {
	content: "\e002";
}
.icon-ok:before {
	content: "\e003";
}
.icon-remove:before {
	content: "\e004";
}
.icon-zoom-in:before {
	content: "\e005";
}
.icon-zoom-out:before {
	content: "\e006";
}
.icon-glass:before {
	content: "\e007";
}
.icon-music:before {
	content: "\e008";
}
.icon-search:before {
	content: "\e009";
}
.icon-envelope:before {
	content: "\e00a";
}
.icon-heart:before {
	content: "\e00b";
}
.icon-star:before {
	content: "\e00c";
}
.icon-star-empty:before {
	content: "\e00d";
}
.icon-film:before {
	content: "\e00e";
}
.icon-cog:before {
	content: "\e00f";
}
.icon-trash:before {
	content: "\e010";
}
.icon-home:before {
	content: "\e011";
}
.icon-github:before {
	content: "\e012";
}
.icon-bug:before {
	content: "\e013";
}
.icon-apple:before {
	content: "\e014";
}
.icon-windows:before {
	content: "\e015";
}
.icon-android:before {
	content: "\e016";
}
.icon-linux:before {
	content: "\e017";
}
.icon-desktop:before {
	content: "\e018";
}
.icon-laptop:before {
	content: "\e019";
}
.icon-tablet:before {
	content: "\e01a";
}
.icon-mobile:before {
	content: "\e01b";
}
.icon-chevron-down:before {
	content: "\e01c";
}
.icon-retweet:before {
	content: "\e01d";
}
.icon-random:before {
	content: "\e01e";
}
.icon-comment:before {
	content: "\e01f";
}
.icon-tag:before {
	content: "\e020";
}
.icon-tags:before {
	content: "\e021";
}
.icon-rss-sign:before {
	content: "\e022";
}
.icon-female:before {
	content: "\e023";
}
.icon-male:before {
	content: "\e024";
}
.icon-long-arrow-down:before {
	content: "\e025";
}
.icon-long-arrow-up:before {
	content: "\e026";
}
.icon-long-arrow-left:before {
	content: "\e027";
}
.icon-long-arrow-right:before {
	content: "\e028";
}
.icon-reorder:before {
	content: "\e029";
}
.icon-list-ul:before {
	content: "\e02a";
}
.icon-list-ol:before {
	content: "\e02b";
}
.icon-cloud:before {
	content: "\e02c";
}
.icon-warning-sign:before {
	content: "\e02d";
}
.icon-eye-open:before {
	content: "\e02e";
}
.icon-eye-close:before {
	content: "\e02f";
}
.icon-step-backward:before {
	content: "\e030";
}
.icon-fast-backward:before {
	content: "\e031";
}
.icon-backward:before {
	content: "\e032";
}
.icon-play:before {
	content: "\e033";
}
.icon-pause:before {
	content: "\e034";
}
.icon-stop:before {
	content: "\e035";
}
.icon-forward:before {
	content: "\e036";
}
.icon-fast-forward:before {
	content: "\e037";
}
.icon-step-forward:before {
	content: "\e038";
}
.icon-eject:before {
	content: "\e039";
}
.icon-book:before {
	content: "\e03a";
}
.icon-picture:before {
	content: "\e03b";
}
.icon-pencil:before {
	content: "\e03c";
}
.icon-map-marker:before {
	content: "\e03d";
}
.icon-arrow-left:before {
	content: "\e03e";
}
.icon-arrow-right:before {
	content: "\e03f";
}
.icon-arrow-up:before {
	content: "\e040";
}
.icon-arrow-down:before {
	content: "\e041";
}
.icon-double-angle-left:before {
	content: "\e042";
}
.icon-double-angle-right:before {
	content: "\e043";
}
.icon-double-angle-up:before {
	content: "\e044";
}
.icon-double-angle-down:before {
	content: "\e045";
}
.icon-angle-left:before {
	content: "\e046";
}
.icon-angle-right:before {
	content: "\e047";
}
.icon-angle-up:before {
	content: "\e048";
}
.icon-angle-down:before {
	content: "\e049";
}
.icon-chevron-sign-left:before {
	content: "\e04a";
}
.icon-chevron-sign-right:before {
	content: "\e04b";
}
.icon-chevron-sign-up:before {
	content: "\e04c";
}
.icon-chevron-sign-down:before {
	content: "\e04d";
}
.icon-html5:before {
	content: "\e04e";
}
.icon-play-sign:before {
	content: "\e04f";
}
.icon-youtube:before {
	content: "\e050";
}
.icon-ticket:before {
	content: "\e051";
}
.icon-code:before {
	content: "\e052";
}
.icon-terminal:before {
	content: "\e053";
}
.icon-flag-alt:before {
	content: "\e054";
}
.icon-caret-left:before {
	content: "\e055";
}
.icon-caret-right:before {
	content: "\e056";
}
.icon-sort:before {
	content: "\e057";
}
.icon-sort-down:before {
	content: "\e058";
}
.icon-sort-up:before {
	content: "\e059";
}
.icon-envelope-alt:before {
	content: "\e05a";
}
.icon-comment-alt:before {
	content: "\e05b";
}
.icon-umbrella:before {
	content: "\e05c";
}
.icon-comments-alt:before {
	content: "\e05d";
}
.icon-cloud-download:before {
	content: "\e05e";
}
.icon-cloud-upload:before {
	content: "\e05f";
}
.icon-file-alt:before {
	content: "\e060";
}
.icon-caret-up:before {
	content: "\e061";
}
.icon-caret-down:before {
	content: "\e062";
}
.icon-google-plus-sign:before {
	content: "\e063";
}
.icon-google-plus:before {
	content: "\e064";
}
.icon-globe:before {
	content: "\e065";
}
.icon-circle-arrow-up:before {
	content: "\e066";
}
.icon-circle-arrow-down:before {
	content: "\e067";
}
.icon-circle-arrow-left:before {
	content: "\e068";
}
.icon-circle-arrow-right:before {
	content: "\e069";
}
.icon-hdd:before {
	content: "\e06a";
}
.icon-rss:before {
	content: "\e06b";
}
.icon-twitter:before {
	content: "\e06c";
}
.icon-external-link:before {
	content: "\e06d";
}
.icon-comments:before {
	content: "\e06e";
}
.icon-cogs:before {
	content: "\e06f";
}
.icon-camera-retro:before {
	content: "\e070";
}
.icon-twitter-sign:before {
	content: "\e071";
}
.icon-facebook-sign:before {
	content: "\e072";
}
.icon-resize-small:before {
	content: "\e073";
}
.icon-resize-full:before {
	content: "\e074";
}
.icon-share-alt:before {
	content: "\e075";
}
.icon-remove-circle:before {
	content: "\e076";
}
.icon-ok-circle:before {
	content: "\e077";
}
.icon-ban-circle:before {
	content: "\e078";
}
.icon-share:before {
	content: "\e079";
}
.icon-off:before {
	content: "\e07a";
}
.icon-list-alt:before {
	content: "\e07b";
}
.icon-vk:before {
	content: "\e07c";
}
.icon-check-sign:before {
	content: "\e07d";
}
.icon-windows-2:before {
	content: "\e07e";
}
.icon-lab:before {
	content: "\e07f";
}
.icon-html5-2:before {
	content: "\e080";
}
.icon-chrome:before {
	content: "\e081";
}
.icon-firefox:before {
	content: "\e082";
}
.icon-IE:before {
	content: "\e083";
}
.icon-opera:before {
	content: "\e084";
}
.icon-safari:before {
	content: "\e085";
}
.icon-heart-empty:before {
	content: "\e086";
}
.icon-fire:before {
	content: "\e087";
}

html.no-fontface [class^="icon-"]:before,
html.no-fontface [class*=" icon-"]:before {
	content: '';
	display: none;
}