
.content ul {
	padding-left: 40px;
	list-style-image: url("/i/emdash.gif");
}

.content ul li {
	padding-left: 0;
}

.content ul.posts {
	padding-left: 0;
	list-style-image: none;
}

ul.lang-switcher li {
	display: inline;
}

.content ul.posts a {
	margin-right: 15px;
}

.content ul.posts time {
	font-size: 0.8em;
}