body {
	min-width: 960px;
}

.content ul {
	list-style-image: url("/i/emdash.gif");
}

.content ul li {
	padding-left: 0;
	margin-left: 40px;
}

.content ul.posts {
	list-style-image: none;
}

.content ul.posts li {
	margin-left: 0;
}

ul.lang-switcher li {
	display: inline;
}

.content ul.posts time {
	font-size: 0.7em;
}

html.ie9 table.specification {
	width: 960px;
}