
/*
  _____      _                                  _         _           
 |  __ \    (_)                                | |       | |          
 | |__) | __ _ _ __ ___   __ _ _ __ _   _   ___| |_ _   _| | ___  ___ 
 |  ___/ '__| | '_ ` _ \ / _` | '__| | | | / __| __| | | | |/ _ \/ __|
 | |   | |  | | | | | | | (_| | |  | |_| | \__ \ |_| |_| | |  __/\__ \
 |_|   |_|  |_|_| |_| |_|\__,_|_|   \__, | |___/\__|\__, |_|\___||___/
                                     __/ |           __/ |            
                                    |___/           |___/             
*/

/* base styles */
* {
	-o-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}

::-moz-selection {
	background: #bbd9ff;
	color: inherit;
	text-shadow: none;
}

::selection {
	background: rgba(187,217,255,0.7);
	color: inherit;
	text-shadow: none;
}

html {
	min-height: 100%;
	font-size: 80%;
}

body {
	padding: 3em 0;
	overflow-x: hidden;
	font-family: 'Scada', sans-serif;
	font-size: 1.15em;
	color: #403333;
	line-height: 1.6;
	height: 100%;
	background: #fcfcfa;
}

article > *:first-child {
	margin-top: 0;
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
	line-height: 1.2em;
	/*margin: 1em 0 0 0;*/
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.15em;
}

p,
ul,
ol,
pre,
figure,
h1,
h2,
h3,
h4 {
	margin: 0 0 1.5rem 0;
}

a,
.lang-switcher a:visited,
.title a:visited {
	color: #168cd2;
	text-decoration: underline;
}

a:visited {
	color: #7c64b4;
}

a:hover,
.lang-switcher a:hover,
.title a:hover {
	color: #fff;
	background: #f92672;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

li {
	margin: 0 0 1rem 0;
}

.content ul li {
	padding-left: 1.2rem;
}

.content ul li:before {
	content: "— ";
	position: absolute;
	display: inline-block;
	width: 1.2rem;
	margin-left: -1.2rem;
}
	
pre {
	font-size: 0.8rem;
	padding: 1em;
	overflow: auto;
	box-shadow: 0 0 5px 0 rgba(64,0,0,0.1);
	max-height: 30rem;
}

.no-boxshadow pre {
	border: 1px solid #f4f2ec;
}

code {
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 0 2px;
	font-size: 0.9em;
}

pre code {
	border: 0;
	border-radius: 0;
	padding: 0;
	white-space: pre;
	word-wrap: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

/* gallery */

.gallery,
.js-gallery {
	vertical-align: top;
}

.gallery figure,
.js-gallery figure {
	display: inline-block;
	margin-right: 1rem;
}

.js-gallery .captions {
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
	text-align: center;
	display: none;
}

.js-gallery .captions > span {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	cursor: pointer;
	margin-right: 1em;
	background: #e2e0db;
	border-radius: 1rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.js-gallery .captions > span.active {
	background: #9b9890;
}

.js-gallery .captions > span > span {
	display: none;
}

.js-gallery .captions > span:hover > span {
	border-bottom-color: transparent;
}

.js-gallery .captions > span.active > span {
	color: inherit;
	border-bottom-color: transparent;
}

.js-gallery .slides {
	position: relative;
	overflow: hidden;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-bottom: 1rem;
	-ms-touch-action: pan-y;
}

.js-gallery .slides figure {
	margin-bottom: 0;
}

.js-gallery .slides figure a {
	outline: none;
}

.js-gallery.active {
	position: relative;
	padding-left: 0;
	padding-right: 0;
	max-width: 120rem;
}

.js-gallery.active {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}

.js-gallery.active figure {
	width: 100%;
	margin-right: 0;
	float: left;
	position: relative;
	padding-left: 1rem;
	padding-right: 1rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.js-gallery.active .captions {
	display: block;
}

figure {
	text-align: center;
}

figure img {
	max-width: 100%;
	max-height: 350px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

figure figcaption {
	font-style: italic;
	color: #787575;
	font-size: 0.8em;
}

figure figcaption {
	padding-bottom: 0.8rem;
}

figure * + figcaption {
	padding-top: 0.8rem;
	padding-bottom: 0;
}

/*.tip {
	position: relative;
	border-bottom: 1px dotted;
}

.tip .tip-content {
	display: none;
	position: absolute;
	bottom: 100%;
	left: 0;
	border-radius: 5px;
	padding: 5px;
	line-height: 1em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tip-content:not(code) {
	background: #fff;
	border: 1px solid #ddd;
}

.tip:hover .tip-content {
	display: block;
}*/

/* grid */
body > header,
body > footer,
.content > * {
	max-width: 60rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

body > header {
	position: relative;
	margin-top: -2rem;
}

ul.lang-switcher {
	float: right;
	margin: 0;
	padding: 0.2rem 0 0 0;
	color: #a19e91;
}

ul.lang-switcher li {
	display: inline-block;
	font-size: 0.8rem;
	margin: 0 0 0 0.5rem;
}

ul.lang-switcher li > * {
	display: inline-block;
	padding: 0.2rem 0.3rem 0.1rem;
}

a.logo {
	display: inline-block;
	position: static;
	background: #faa615;
	padding: 0.45rem 0.6rem;
	font-size: 0.8rem;
	color: white;
	text-decoration: none;
	white-space: nowrap;
}

a.logo:visited {
	background: #faa615;
	color: white;
}

body.post a.logo,
body.post a.logo:visited {
	background: #e7e5e1;
}

a.logo:hover,
body.post a.logo:hover {
	background: #f92672;
}

.ovi a.logo span,
.symbian a.logo span {
	display: none;
}

h1.title {
	padding-top: 0.5rem;
}

h1.title a {
	text-decoration: none !important; /* funck you, kindle */
	border-bottom: 2px solid;
}

/*body.post h1.title a {
	color: #a19e91;
}

body.post h1.title a:hover {
	color: white;
}*/

.content {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.content .post-date {
	display: block;
	color: #787575
}

.content .post-cat-title {
	margin-bottom: 0;
}

body.post .content {
	background: #fff;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.content ul.posts li {
	padding-left: 0;
}

.content ul.posts li:before {
	visibility: hidden;
}

.content ul.posts time {
	font-style: italic;
	display: block;
	font-size: 0.8rem;
}

.content ul.posts .cat-link {
	font-size: 0.8rem;
}

body > footer {
	margin-top: 2rem;
	font-size: 0.8em;
	color: #a19e91;
}


/* bonus stuff */
.clear-fix:before,
.clear-fix:after {
	display: table;
	content: "";
}

.clear-fix:after {
	clear: both;
}

.clear-fix {
	zoom: 1;
}
