
/*
  _____      _                                  _         _           
 |  __ \    (_)                                | |       | |          
 | |__) | __ _ _ __ ___   __ _ _ __ _   _   ___| |_ _   _| | ___  ___ 
 |  ___/ '__| | '_ ` _ \ / _` | '__| | | | / __| __| | | | |/ _ \/ __|
 | |   | |  | | | | | | | (_| | |  | |_| | \__ \ |_| |_| | |  __/\__ \
 |_|   |_|  |_|_| |_| |_|\__,_|_|   \__, | |___/\__|\__, |_|\___||___/
                                     __/ |           __/ |            
                                    |___/           |___/             
*/

/* base styles */
* {
	-o-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}

::-moz-selection {
	background: #bbd9ff;
	color: inherit;
	text-shadow: none;
}

::selection {
	background: rgba(187,217,255,0.7);
	color: inherit;
	text-shadow: none;
}

html {
	min-height: 100%;
	font-size: 80%;
}

html.ovi {
	font-size: 18px;
}

body {
	padding: 0.5em 0 0;
	overflow-x: hidden;
	font-size: 1.15em;
	color: #403333;
	line-height: 1.6;
	height: 100%;
	background: #fcfcfa;
}

html.bw body {
	color: #000;
	background: #fff;
}

html.ovi body,
html.operamini body {
	background: #fff;
}

html.kindle * {
	box-shadow: none !important;
}

html,
button,
input,
select,
textarea {
	font-family: 'Scada', sans-serif;
}

html.kindle,
html.kindle button,
html.kindle input,
html.kindle select,
html.kindle textarea {
	font-family: serif;
}

article > *:first-child {
	margin-top: 0;
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
	line-height: 1.2em;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.15em;
}

p,
ul,
ol,
pre,
figure,
h1,
h2,
h3,
h4 {
	margin: 0 0 1.5rem 0;
}

a {
	color: #168cd2;
	text-decoration: underline;
}

a.iconlink {
	text-decoration: none;
}

a.iconlink span {
	text-decoration: underline;
}

a.iconlink:hover span,
a.iconlink:active span  {
	text-decoration: none;
}

h1 a,
h2 a,
h3 a,
h4 a {
	text-decoration: none;
	border-bottom: 1px solid;
}

a:visited {
	color: #7c64b4;
}

a:hover {
	color: #fff;
	background: #f92672;
	text-decoration: none;
}

html.bw a,
html.bw .lang-switcher a,
html.bw .title a {
	color: #000;
}

html.kindle a {
	text-decoration: none !important;
	border-bottom: 2px solid;
}

html.kindle a:hover,
html.kindle a:active {
	color: #fff;
	background: #333;
}

ul {
	list-style-type: none;
}

li {
	margin: 0 0 1rem 0;
}

.content ul li {
	padding-left: 1.1em;
}

.content ul li:before {
	content: "—";
	position: absolute;
	display: inline-block;
	width: 0.75em;
	margin-left: -1em;
	overflow: hidden;
}

html.operamini .content ul li:before {
	overflow: visible;
}
	
pre {
	white-space: pre;
	word-wrap: normal;
	padding: 1em;
	overflow: auto;
	box-shadow: 0 0 5px rgba(64,0,0,0.1);
	-webkit-overflow-scrolling: touch;
}

html.no-boxshadow pre {
	border: 1px solid #f4f2ec;
}

html.ovi pre,
html.operamini pre {
	padding: 0;
	border: none;
	box-shadow: none;
}

code {
	border: 1px solid #ddd;
	border-radius: 0.25em;
	padding: 0 0.25em;
	font-size: 0.8em;
	font-family: Consolas, Monaco, 'Andale Mono', monospace, serif;
}

html.operamini code {
	font-family: sans-serif;
}

html.bw code {
	border-color: #999;
}

pre code,
html.bw pre code {
	font-size: 15px;
	font-size: 0.9rem;
	border: 0;
	border-radius: 0;
	padding: 0;
	white-space: pre;
	word-wrap: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

html.operamini pre code,
html.ovi pre code {
	white-space: pre-wrap;
}

/* gallery */

.gallery,
.js-gallery {
	vertical-align: top;
	text-align: center;
}

.js-gallery.active {
	position: relative;
	padding-left: 0;
	padding-right: 0;
	max-width: 120rem;
	overflow: hidden;
}

.js-gallery .captions {
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
	text-align: center;
	display: none;
}

.js-gallery .captions > span {
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
}

.js-gallery .captions > span.arr {
	padding-right: 1rem;
	padding-left: 1rem;
	color: #9b9890;
	font-size: 1.5rem;
	width: auto;
	height: auto;
}

html.no-fontface .js-gallery .captions > span.arr {
	opacity: 0.7;
}

html.bw .js-gallery .captions > span.arr {
	color: #000;
}

.js-gallery .captions > span.arr:first-of-type {
	float: left;
}

.js-gallery .captions > span.arr:last-of-type {
	float: right;
}

.js-gallery .captions > span.arr[disabled] {
	color: #dfdddd;
	cursor: default;
}

html.no-fontface .js-gallery .captions > span.arr[disabled] {
	opacity: 0.2;
}

html.bw .js-gallery .captions > span.arr[disabled] {
	color: #999;
}

.js-gallery .captions > span.dot {
	margin-right: 0.5em;
	margin-left: 0.5em;
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 1.2rem;
	border: 1px solid #9b9890;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html.bw .js-gallery .captions > span.dot {
	border-color: #000;
}

.js-gallery .captions > span.dot.active {
	background: #9b9890;
}

html.bw .js-gallery .captions > span.dot.active {
	background: #000;
}

.js-gallery .captions > span.dot > span {
	display: none;
}

.js-gallery .slides {
	z-index: 0;
	position: relative;
	overflow: hidden;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-bottom: 1rem;
	-ms-touch-action: pan-y;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.js-gallery.active .slides figure {
	width: 100%;
	margin: 0;
	float: left;
	padding-left: 1rem;
	padding-right: 1rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.js-gallery.active .slides figure > a,
.js-gallery.active .slides figure > a:hover,
.js-gallery.active .slides figure > a:active,
.js-gallery.active .slides figure > a:focus {
	outline: none;
	background: transparent;
}

.js-gallery.active .captions,
.js-gallery.active .slides,
.js-gallery.active .slides figure,
.js-gallery.active .slides figure a,
.js-gallery.active .slides figure img,
.js-gallery.active .slides figure figcaption {
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.js-gallery.active .captions {
	display: block;
}

figure {
	text-align: center;
}

html.kindle figure {
	overflow: hidden;
}

figure img {
	max-width: 100%;
	max-height: 350px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

figure figcaption {
	font-style: italic;
	color: #787575;
	font-size: 0.8em;
}

html.bw figure figcaption {
	color: #333;
}

figure figcaption {
	padding-bottom: 0.8rem;
}

figure * + figcaption {
	padding-top: 0.8rem;
	padding-bottom: 0;
}

/* blocks */
body > header,
body > footer,
.content > * {
	max-width: 60rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

ul.lang-switcher {
	margin: 0;
	padding: 0 0 1em 0;
	color: #a19e91;
}

html.bw ul.lang-switcher {
	color: #333;
}

ul.lang-switcher li {
	display: inline-block;
	font-size: 0.7em;
	margin: 0 0.5em 0 0;
}

ul.lang-switcher li > * {
	display: inline-block;
	padding: 0.2em 0.3em 0.1em;
}

ul.lang-switcher a:visited {
	color: #168cd2;
}

ul.lang-switcher a:hover,
ul.lang-switcher a:active {
	color: #fff;
}

a.logo {
	display: inline-block;
	background: #faa615;
	padding: 0.45rem 0.6rem;
	font-size: 0.8rem;
	color: white;
	text-decoration: none;
	white-space: nowrap;
}

a.logo:visited {
	background: #faa615;
	color: white;
}

body.post a.logo,
body.post a.logo:visited {
	background: #e7e5e1;
}

a.logo:hover,
body.post a.logo:hover {
	background: #f92672;
}

html.ovi a.logo span,
html.operamini a.logo span {
	display: none;
}

html.bw a.logo,
html.bw body.post a.logo {
	color: #fff;
	background: #999;
}

h1.title a {
	text-decoration: none;
	border-bottom: 2px solid;
}

h1.title a:visited {
	color: #168cd2;
}

h1.title a:hover {
	color: #fff;
	border-color: #f92672;
}

.content {
	padding-top: 1em;
	padding-bottom: 1em;
}

.content .post-cat-title {
	margin-bottom: 0;
}

body.post .content {
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

html.bw body.post .content {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.content ul.posts li,
html.kindle .content ul.posts li {
	padding-left: 0;
}

.content ul.posts li:before {
	visibility: hidden;
}

.content ul.posts time {
	font-style: italic;
	display: block;
	font-size: 0.7em;
}

html.bw .content ul.posts time {
	color: #333;
}

.content ul.posts .cat-link {
	font-size: 0.7em;
}

.content .meta {
	font-size: 0.8em;
	color: #a19e91;
	margin-bottom: 0;
}

body > footer {
	margin-top: 2rem;
	font-size: 0.8em;
	color: #a19e91;
}

html.bw body > footer {
	color: #333;
}

/* forms */

input {
	border: 1px solid #c9c9c9;
	border-radius: 0.2em;
	padding: 0.2em 0.5em;
	box-shadow: inset 0 0.1em 0.1em rgba(0,0,0,0.1);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

input:focus {
	border-color: #168cd2;
	outline: none;
	box-shadow: inset 0 0.1em 0.1em rgba(0,0,0,0.1),
				0 0 0.2em rgba(22,140,210,0.5);
}