/*
  _____      _                                  _         _           
 |  __ \    (_)                                | |       | |          
 | |__) | __ _ _ __ ___   __ _ _ __ _   _   ___| |_ _   _| | ___  ___ 
 |  ___/ '__| | '_ ` _ \ / _` | '__| | | | / __| __| | | | |/ _ \/ __|
 | |   | |  | | | | | | | (_| | |  | |_| | \__ \ |_| |_| | |  __/\__ \
 |_|   |_|  |_|_| |_| |_|\__,_|_|   \__, | |___/\__|\__, |_|\___||___/
                                     __/ |           __/ |            
                                    |___/           |___/             
*/

/* base styles */
* {
	-o-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}

::-moz-selection {
	background: #b9dbec;
	color: inherit;
	text-shadow: none;
}

::selection {
	background: rgba(185,219,236,0.8);
	color: inherit;
	text-shadow: none;
}

html {
	min-height: 100%;
	font-size: 80%;
}

body {
	padding: 3em 0;
	overflow-x: hidden;
	font-family: 'Scada', sans-serif;
	font-size: 1.15em;
	color: #403333;
	line-height: 1.6;
	height: 100%;
	background: #fcfcfa;
}

body.post {
	background: #fcfcfa; /*#474840;*/
}

article > *:first-child {
	margin-top: 0;
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
	line-height: 1.2em;
	/*margin: 1em 0 0 0;*/
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.15em;
}

p,
ul,
ol,
pre,
figure,
h1,
h2,
h3,
h4 {
	margin: 0 0 1.5rem 0;
}

a,
.lang-switcher a:visited {
	color: #168cd2;
	text-decoration: underline;
}

a:visited {
	color: #7c64b4;
}

a:hover,
.lang-switcher a:hover {
  color: #fff;
  background: #f92672;
  text-decoration: none;
}

ul {
	list-style-type: none;
}

li {
	margin: 0 0 1rem 0;
}

.content ul li {
	padding-left: 1.2rem;
}

.content ul li:before {
  content: "— ";
  position: absolute;
  display: inline-block;
  width: 1.2rem;
  margin-left: -1.2rem;
}

pre {
	font-size: 0.8em;
	padding: 1em;
	overflow: auto;
	max-height: 20rem;
	background: #f5f2f0;
}

code {
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 0 2px;
	font-size: 0.9em;
}

pre code {
	border: 0;
	border-radius: 0;
	padding: 0;
	font-size: 1em;
}

.gallery figure {
	display: inline-block;
	margin: 0 1rem 0 0;
}

figure img {
	max-width: 100%;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

figure figcaption {
	font-style: italic;
	color: #787575;
	font-size: 0.8em;
	padding-top: 0.8em;
}

.tip {
	position: relative;
	border-bottom: 1px dotted;
}

.tip .tip-content {
	display: none;
	position: absolute;
	bottom: 100%;
	left: 0;
	border-radius: 5px;
	padding: 5px;
	line-height: 1em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tip-content:not(code) {
	background: #fff;
	border: 1px solid #ddd;
}

.tip:hover .tip-content {
	display: block;
}

/* grid */
body > header,
body > footer,
.content > * {
	max-width: 60rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

body > header {
	position: relative;
	margin-top: -2rem;
}

ul.lang-switcher {
	float: right;
	margin: 0;
	padding: 0.2rem 0 0 0;
	color: #a19e91;
}

ul.lang-switcher li {
	display: inline-block;
	font-size: 0.8rem;
	margin: 0 0 0 0.5rem;
}

ul.lang-switcher li > * {
	display: inline-block;
	padding: 0.2rem 0.3rem 0.1rem;
}

a.logo,
a.logo:visited {
	display: inline-block;
	position: static;
	background: #faa615;
	padding: 0.45rem 0.6rem;
	font-size: 0.8rem;
	color: white;
	text-decoration: none;
	white-space: nowrap;
}

body.post a.logo,
body.post a.logo:visited {
	background: #e7e5e1;
}

a.logo:hover,
body.post a.logo:hover {
	background: #f92672;
}

h1.title {
	padding-top: 0.5rem;
}

h1.title a {
	text-decoration: none;
	border-bottom: 2px solid;
}

body.post h1.title a {
	color: #a19e91;
}

body.post h1.title a:hover {
	color: white;
}

.content {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.content .post-date {
	display: block;
	color: #787575
}

.content .post-title {
	margin-top: 0;
}

body.post .content {
	background: #fff;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.content ul.posts li {
	padding-left: 0;
}

.content ul.posts li:before {
	visibility: hidden;
}

.content ul.posts time {
	font-style: italic;
	display: block;
	font-size: 0.8rem;
}

body > footer {
	margin-top: 2rem;
	font-size: 0.8em;
	color: #a19e91;
}


/* bonus stuff */
.clear-fix:before,
.clear-fix:after {
	display: table;
	content: "";
}

.clear-fix:after {
	clear: both;
}

.clear-fix {
	zoom: 1;
}