body > header, body > footer, .content > * {
	max-width: 960px; /*60rem*/
	padding-right: 16px; /*1rem*/
	padding-left: 16px; /*1rem*/
}

a.logo {
	font-size: 13px; /*0.8rem*/
	padding-bottom: 7.1875px; /*0.45rem*/
	padding-top: 7.1875px; /*0.45rem*/
	padding-right: 9.59375px; /*0.6rem*/
	padding-left: 9.59375px; /*0.6rem*/
}

p, ul, ol, pre, figure, h1, h2, h3, h4, table, blockquote {
	margin: 0 0 24px 0; /*1.5rem*/
}

#test_console {
	margin-bottom: 24px;
}

.content > .table-holder {
	margin-bottom: 24px;
}

figure * + figcaption {
	padding-top: 12.796875px; /*0.8rem*/
}

figure figcaption {
	padding-bottom: 12.796875px; /*0.8rem*/
}

li {
	margin-bottom: 16px; /*1rem*/
}

.js-gallery.active {
	max-width: 1920px; /*120rem*/
}

.js-gallery .captions {
	font-size: 14px; /*0.9rem*/
	margin-bottom: 8px; /*0.5rem*/
}

.js-gallery .captions > span.arr {
	padding-right: 16px;
	padding-left: 16px;
	font-size: 24px;
}

.js-gallery .captions > span.dot {
	height: 8px; /*0.5rem*/
	width: 8px; /*0.5rem*/
	border-radius: 16px; /*1rem*/
}

.js-gallery .slides {
	margin-bottom: 16px; /*1rem*/
	padding-bottom: 8px; /*0.5rem*/
	padding-top: 8px; /*0.5rem*/
}

.js-gallery.active figure {
	padding-right: 16px; /*1rem*/
	padding-left: 16px; /*1rem*/
}

pre code {
	font-size: 14px; /*0.9rem*/
}

body > footer {
	margin-top: 32px; /*2rem*/
}