
/*
 __             __       ___           __      
/\ \__         /\ \     /\_ \         /\ \__   
\ \ ,_\    __  \ \ \____\//\ \      __\ \ ,_\  
 \ \ \/  /'__`\ \ \ '__`\ \ \ \   /'__`\ \ \/  
  \ \ \_/\ \L\.\_\ \ \L\ \ \_\ \_/\  __/\ \ \_ 
   \ \__\ \__/.\_\\ \_,__/ /\____\ \____\\ \__\
    \/__/\/__/\/_/ \/___/  \/____/\/____/ \/__/                                             
*/

{% unless include.ie %}
@media all and (min-width: 30em) {
{% endunless %}

	body {
		padding: 1.5em 0 0;
	}

	ul.lang-switcher {
		float: right;
		padding: 0.2em 0 0 1em;
	}

	ul.lang-switcher li {
		margin: 0 0 0 0.5em;
	}

	figure.info {
		padding: 1em 1em 1em 3em;
	}

	html.no-fontface figure.info {
		padding: 1em;
	}

	figure.info:before {
		display: block;
		font-size: 1.5em;
		position: absolute;
		top: 0.58em;
		left: 0.58em;
		margin-top: 0.1em;
		color: #d5d0d0;
	}

	html.bw figure.info:before {
		color: #999;
	}

	.content ul li {
		padding-left: 2.2em;
	}

	.gallery {
		text-align: center;
	}

	.gallery figure {
		display: inline-block;
		padding-right: 0.5em;
		padding-left: 0.5em;
		max-width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	/* forms */
	textarea,
	input {
		font-size: 1.1em;
	}

	textarea.big,
	input.big {
		font-size: 1.2em;
	}

{% unless include.ie %}
}
{% endunless %}

{% unless include.ie %}
@media all and (min-width: 40em) {
{% endunless %}

	/* base */
	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1.2em;
	}

	/* blocks */
	.content ul.posts time {
		display: inline;
		white-space: nowrap;
		font-size: 1rem;
	}

	.content ul.posts time:before {
		content: " — "
	}

	/* tables */
	.content > .table-holder {
		width: 92%;
	}

	table.specification {
		width: 92%;
	}

	table.specification tr {
		overflow: hidden;
	}

	table.specification td,
	table.specification th {
		float: left;
		width: 50%;
		padding-left: 0.5em;
		padding-right: 0.5em;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	table.specification td:first-child,
	table.specification th:first-child {
		width: 35%;
	}

	table.specification td:last-child,
	table.specification th:last-child {
		width: 65%;
	}

{% unless include.ie %}
}
{% endunless %}

{% unless include.ie %}
@media all and (min-width: 50em) {
{% endunless %}
	/* blocks */

	body > footer ul.footer-links li {
		display: inline-block;
		margin: 0;
	}

	body > footer ul.footer-links li:after {
		content: ' • ';
	}

	body > footer ul.footer-links li:last-child:after {
		content: '';
	}

{% unless include.ie %}
}
{% endunless %}


/* HEIGHT STUFF */

{% unless include.ie %}
@media all and (min-height: 600px) {
{% endunless %}

	figure img {
		max-height: 450px;
	}

{% unless include.ie %}
}
{% endunless %}


{% unless include.ie %}
@media all and (min-height: 750px) {
{% endunless %}

	figure img {
		max-height: none;
	}

{% unless include.ie %}
}
{% endunless %}
