
/*
 __             __       ___           __      
/\ \__         /\ \     /\_ \         /\ \__   
\ \ ,_\    __  \ \ \____\//\ \      __\ \ ,_\  
 \ \ \/  /'__`\ \ \ '__`\ \ \ \   /'__`\ \ \/  
  \ \ \_/\ \L\.\_\ \ \L\ \ \_\ \_/\  __/\ \ \_ 
   \ \__\ \__/.\_\\ \_,__/ /\____\ \____\\ \__\
    \/__/\/__/\/_/ \/___/  \/____/\/____/ \/__/                                             
*/

{% unless include.ie %}
@media all and (min-width: 30em) {
{% endunless %}

	body {
		padding: 1.5em 0 0;
	}

	ul.lang-switcher {
		float: right;
		padding: 0.2em 0 0 1em;
	}

	ul.lang-switcher li {
		margin: 0 0 0 0.5em;
	}

	figure.info > div {
		padding: 1em 1em 1em 3em;
	}

	figure.info > div:after {
		content: 'i';
		font-weight: bold;
		font-family: Consolas, Monaco, 'Andale Mono', monospace, serif;
		font-size: 2em;
		position: absolute;
		top: 0.1em;
		left: 0.5em;
		margin-top: 0.1em;
		color: #d5d0d0;
	}

	html.bw figure.info > div:after {
		color: #999;
	}

	.content ul li {
		padding-left: 2.2em;
	}

	.gallery figure,
	.js-gallery figure {
		display: inline-block;
		padding-right: 0.5em;
		padding-left: 0.5em;
		max-width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	/* forms */
	textarea,
	input {
		font-size: 1.1em;
	}

	textarea.big,
	input.big {
		font-size: 1.2em;
	}

{% unless include.ie %}
}
{% endunless %}

{% unless include.ie %}
@media all and (min-width: 40em) {
{% endunless %}

	/* base */
	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1.2em;
	}

	/* blocks */
	body > header,
	body > footer,
	.content > * {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.content ul.posts time {
		display: inline;
		white-space: nowrap;
		font-size: 1rem;
	}

	.content ul.posts time:before {
		content: " — "
	}

	/* gallery */

	.js-gallery .captions > button.arr {
		padding-right: 2rem;
		padding-left: 2rem;
	}

	/* tables */
	table.specification {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	table.specification tr {
		overflow: hidden;
	}

	table.specification td,
	table.specification th {
		float: left;
		width: 50%;
		padding-left: 0.5em;
		padding-right: 0.5em;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	table.specification td:first-child,
	table.specification th:first-child {
		width: 35%;
	}

	table.specification td:last-child,
	table.specification th:last-child {
		width: 65%;
	}

{% unless include.ie %}
}
{% endunless %}

{% unless include.ie %}
@media all and (min-width: 50em) {
{% endunless %}

	/* gallery */

	.js-gallery .captions > button.arr {
		display: none;
	}

	.js-gallery .captions > button.dot {
		width: auto;
		height: auto;
		padding: 0.3em 0.5em 0.35em;
		margin-bottom: 0.55em;
		border: 1px dashed transparent;
		border-radius: 0.5em;
		position: relative;
		background: transparent;
	}

	html.bw .js-gallery .captions > button.dot {
		background: transparent;
	}

	.js-gallery .captions > button.dot:hover {
		border-color: #e6e4e1;
	}

	html.bw .js-gallery .captions > button.dot:hover {
		border-color: #aaa;
	}

	.js-gallery .captions > button.dot.active {
		border: 1px solid #dfddd7;
		background: transparent;
	}

	html.bw .js-gallery .captions > button.dot.active {
		border-color: #333;
		background: transparent;
	}

	html.csstransforms .js-gallery .captions > button.dot.active:after {
		position: absolute;
		content: '';
		top: 100%;
		left: 50%;
		width: 0.6em;
		height: 0.6em;
		margin-left: -0.3em;
		margin-top: -0.3em;
		background: white;
		border: 1px solid #dfddd7;
		border-left: 0;
		border-top: 0;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	html.csstransforms.bw .js-gallery .captions > button.dot.active:after {
		border-color: #333;
	}

	.js-gallery .captions > button.dot > span {
		display: inline;
		color: #168cd2;
		border-bottom: 1px dashed;
		white-space: nowrap;
	}

	html.bw .js-gallery .captions > button.dot > span {
		color: #000;
	}

	.js-gallery .captions > button.dot:hover > span {
		border-bottom-color: transparent;
	}

	.js-gallery .captions > button.dot.active > span {
		color: inherit;
		border-bottom-color: transparent;
	}

	.js-gallery.active figure figcaption {
		display: none;
	}

	/* blocks */

	body > footer ul.footer-links li {
		display: inline-block;
		margin: 0;
	}

	body > footer ul.footer-links li:after {
		content: ' • ';
	}

	body > footer ul.footer-links li:last-child:after {
		content: '';
	}

{% unless include.ie %}
}
{% endunless %}


/* HEIGHT STUFF */

{% unless include.ie %}
@media all and (min-height: 600px) {
{% endunless %}

	figure img {
		max-height: 450px;
	}

{% unless include.ie %}
}
{% endunless %}


{% unless include.ie %}
@media all and (min-height: 750px) {
{% endunless %}

	figure img {
		max-height: none;
	}

{% unless include.ie %}
}
{% endunless %}
