// scada-regular - latin-ext_latin_cyrillic-ext_cyrillic
@font-face
    font-family: 'Nunito'
    font-style: normal
    font-weight: 400
    src: url('/fonts/nunito-v14-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2')

// scada-italic - latin-ext_latin_cyrillic-ext_cyrillic
@font-face
    font-family: 'Nunito'
    font-style: italic
    font-weight: 400
    src: url('/fonts/nunito-v14-latin-ext_latin_cyrillic-ext_cyrillic-italic.woff2') format('woff2')

// scada-700 - latin-ext_latin_cyrillic-ext_cyrillic
@font-face
    font-family: 'Nunito'
    font-style: normal
    font-weight: 700
    src: url('/fonts/nunito-v14-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2') format('woff2')

// scada-700italic - latin-ext_latin_cyrillic-ext_cyrillic
@font-face
    font-family: 'Nunito'
    font-style: italic
    font-weight: 700
    src: url('/fonts/nunito-v14-latin-ext_latin_cyrillic-ext_cyrillic-700italic.woff2') format('woff2')

// fira-code-regular - latin_cyrillic
@font-face
    font-family: 'Fira Code'
    font-style: normal
    font-weight: 400
    src: url('/fonts/fira-code-v9-latin_cyrillic-regular.woff2') format('woff2')

// fira-code-700 - latin_cyrillic
@font-face
    font-family: 'Fira Code'
    font-style: normal
    font-weight: 700
    src: url('/fonts/fira-code-v9-latin_cyrillic-700.woff2') format('woff2')
