// Text colors
$inactiveColor: #a19e91

// Link colors
$linkColor: #168cd2
$linkVisitedColor: #7c64b4
$linkHoverBg: #f92672

// Font sizes
$smallFontSize: 0.8em
$tinyFontSize: 0.7em

// Breakpoins
$smallScreenSize: 1200px
$tinyScreenSize: 640px
