@media all and (min-width: 70em) { /* 1120 */

	/* store game page */
	.store-game-page {
		background-size: 100% auto;
	}

}

@media all and (min-width: 75em) {

	/* layout */
	.main {
		max-width: 1040px; /* fallback */
		max-width: 65rem;
	}

	/* store game page */
	.store-game-page .main {
		margin-top: 1.5em;
	}

}