@charset "utf-8";

/* base */
body {
	font-size: 100%;
	word-wrap: break-word;
	background: #000;
	padding-bottom: 150px;
}

html,
button,
input,
select,
textarea {
	font-family: Arial, Helvetica, sans-serif;
	color: #f5f5f5;
	line-height: 1.6;
}

a {
	color: #1f98df;
}

a:hover {
	color: #2ac6ed;
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
	line-height: 1.2;
}

p,
ul,
ol,
dl,
pre,
figure,
blockquote {
	margin: 0 0 1.2em 0;
}

h1,
h2,
h3,
h4 {
	margin: 0 0 19px 0; /* fallback */
	margin: 0 0 1.2rem 0;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.08em;
}

@media all and (min-width: 30em) {
	h1 {
		font-size: 2.1em;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1.1em;
	}
}

ul {
	padding-left: 1.3em;
}

@media all and (min-width: 45em) {
	ul {
		padding-left: 2.5em;
	}
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	margin: 0 0 1em 0;
}

dl {
	overflow: hidden; /* clearfix */
}

dl dt {
	padding-right: 0.2em;
	float: left;
	color: #999;
	clear: both;
}

dl dd {
	margin-left: 0;
}

/* tables */
table {
	width: 100%;
}

td,
th {
	padding: 0.3em 0.5em;
	text-align: left;
}

tr {
	border-bottom: 1px solid;
	border-color: #333; /* fallback */
	border-color: rgba(255,255,255,0.1);
}

/* 
CLASSES
*/
/* sizes */
.big {
	font-size: 1.2em;
}

.small {
	font-size: 0.8em;
}

.tiny {
	font-size: 0.6em;
}

/* colors */
.info {
	color: #7cb8e4;
}

.green {
	color: #94de35;
}

.red {
	color: #de3535;
}

.insignificant {
	color: #999;
}

.inconsiderable {
	color: #666;
}

/* responsive */
.hidden-mobile {
	display: none;
}

@media all and (min-width: 45em) {
	.hidden-tablet {
		display: none;
	}

	.hidden-mobile {
		display: block;
	}
}

/* buttons */
.btn {
	border: 0;
	padding: 0.5em;
	border-radius: 0.2em;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.7),
						inset 0 -1px 1px -1px rgba(0,0,0,0.3),
						0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 1px rgba(255,255,255,0.7),
				inset 0 -1px 1px -1px rgba(0,0,0,0.3),
				0 1px 3px rgba(0, 0, 0, 0.2);
	background-repeat: no-repeat;
	background-color: #7f7c79;
	background-image: -webkit-linear-gradient(#7f7c79, #4f4c4b);
	background-image: -moz-linear-gradient(#7f7c79, #4f4c4b);
	background-image: linear-gradient(#7f7c79, #4f4c4b);
	-webkit-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn:hover {
	background-position: 0 0.5em;
}

.btn:active,
.btn.active {
	-webkit-box-shadow: inset 0 0.15em 0.15em 0.1em rgba(0,0,0,0.3);
	box-shadow: inset 0 0.15em 0.15em 0.1em rgba(0,0,0,0.3);
}

.btn-green {
	background-color: #9ee345;
	background-image: -webkit-linear-gradient(#9ee345, #4e6d23);
	background-image: -moz-linear-gradient(#9ee345, #4e6d23);
	background-image: linear-gradient(#9ee345, #4e6d23);
}

.btn-hover-green:hover,
.btn-hover-green:active,
.btn-hover-green.active {
	background-color: #9ee345;
	background-image: -webkit-linear-gradient(#9ee345, #4e6d23);
	background-image: -moz-linear-gradient(#9ee345, #4e6d23);
	background-image: linear-gradient(#9ee345, #4e6d23);
}

.btn-hover-red:hover,
.btn-hover-red:active,
.btn-hover-red.active {
	background-color: #e35845;
	background-image: -webkit-linear-gradient(#e35845, #6d2323);
	background-image: -moz-linear-gradient(#e35845, #6d2323);
	background-image: linear-gradient(#e35845, #6d2323);
}

.btn-flat {
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
	background-image: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
	background-image: -moz-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.btn-flat:hover,
.btn-flat:active,
.btn-flat.active {
	background-position: 0 0;
	background-image: -webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
	background-image: -moz-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.btn-rounded {
	padding: 0.5em 1em;
	border-radius: 2em;
}

.btn-small {
	font-size: 0.9em;
	padding: 0.25em 0.5em;
}

.btn-rounded.btn-small {
	padding: 0.25em 0.75em;
}

.btn[disabled],
.bnt.disabled {
	opacity: 0.65;
	pointer-events: none;
}

/* pseudo links */
.pseudo-link {
	display: inline;
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	color: #168cd2;
	border-bottom: 1px dashed;
}

.pseudo-link:hover {
	color: #2ac6ed;
}

.pseudo-link[class*="icon-"] {
	border-bottom: none;
}

.pseudo-link[class*="icon-"] > span {
	border-bottom: 1px dashed;
}

/*icon links */
a[class*="icon-b-"],
.pseudo-link[class*="icon-b-"] {
	padding-left: 20px;
}

a[class*="icon-b-"]:before,
.pseudo-link[class*="icon-b-"]:before {
	margin-left: -20px;
	margin-right: 4px;
	vertical-align: -2px;
}

a[class*="icon-a-"],
.pseudo-linka[class*="icon-a-"] {
	padding-right: 20px;
}

a[class*="icon-a-"]:after,
.pseudo-linka[class*="icon-a-"]:after {
	margin-right: -20px;
	margin-left: 4px;
	vertical-align: -2px;
}

/* icon lists */
li[class*="icon-"] {
	position: relative;
	list-style-type: none;
}

li[class*="icon-"]:before {
	position: absolute;
	margin-left: -16px;
	left: -0.5em;
	top: 0.25em;
}

/* hr */
.hr {
	margin: 0 0 0.5em;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}

.hr:before,
.hr:after {
	content: '';
	position: relative;
	display: inline-block;
	width: 50%;
	height: 0;
	vertical-align: middle;
	border-bottom: 1px solid;
	border-color: #464646; /* fallback */
	border-color: rgba(255,255,255,0.2);
}

.hr:before {
	left: -0.5em;
	margin: 0 0 0 -50%;
}

.hr:after {
	left: 0.5em;
	margin: 0 -50% 0 0;
}

/* table wrap */
.table-wrap {
	overflow: auto;
	width: 100%;
}

/* peppermint slider */
.peppermint.active ul.dots > li > span {
	background: #fff;
}

.peppermint.active ul.dots > li.active > span {
	background: transparent;
	border-color: #fff;
}

/*
MODULES
*/
/* gallery */
.gallery.peppermint.inactive {
	white-space: nowrap;
	overflow: auto;
}

.gallery.peppermint.inactive figure {
	display: inline-block;
	margin-bottom: 0;
}

.gallery.peppermint.inactive figure img {
	max-width: 100vw;
}

.gallery .thumbs {
	text-align: center;
	overflow: auto;
	display: none;
}

@media all and (min-width: 45em) {
	.gallery .dots {
		display: none;
	}

	.gallery.peppermint.active .thumbs {
		display: block;
	}
}

.gallery .thumbs ul {
	white-space: nowrap;
	list-style-type: none;
	padding-top: 8px;
	padding-left: 0;
	margin-bottom: 0;
}

.gallery .thumbs ul li {
	position: relative;
	display: inline-block;
	border: 2px solid;
	border-color: transparent;
	margin-bottom: 0;
	cursor: pointer;
}

.gallery .thumbs ul li.active {
	border-color: #7CB8E4;
}

.gallery .thumbs ul li.active:after {
	content: '';
	position: absolute;
	display: block;
	top: -8px;
	left: 50%;
	margin-left: -4px;
	width: 0;
	border: 8px solid;
	border-color: transparent transparent #7CB8E4 transparent;
	border-top-width: 0;
}

/* user */
.user {
	display: inline-block;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	color: #aaa;
	vertical-align: middle;
}

.user .userpic {
	display: inline-block;
	margin-right: 0.4em;
	border-radius: 50%;
	background: #aaa;
	border: 3px solid #aaa;
	vertical-align: middle;
	overflow: hidden;
}

.user .userpic img {
	border-radius: 50%;
	vertical-align: top;
}

.user.user-square .userpic {
	border-radius: 10%;
}

.user.user-square .userpic img {
	border-radius: 10%;
}

.user .username {
	vertical-align: middle;
	text-decoration: underline;
}

.user:hover .userpic {
	background: #c0c0c0;
	border-color: #c0c0c0;
}

.user:hover {
	color: #c0c0c0;
}

.user.user-online .userpic {
	background: #7cb8e4;
	border-color: #7cb8e4;
}

.user.user-online {
	color: #7cb8e4;
}

.user.user-online:hover .userpic {
	background: #92cdf8;
	border-color: #92cdf8;
}

.user.user-online:hover {
	color: #92cdf8;
}

.user.user-ingame .userpic {
	background: #94de35;
	border-color: #94de35;
}

.user.user-ingame {
	color: #94de35;
}

.user.user-ingame:hover .userpic {
	background: #aef651;
	border-color: #aef651;
}

.user.user-ingame:hover {
	color: #aef651;
}

/* review */
.user-review .meta {
	margin-bottom: 1.5em;
}

.user-review .user {
	vertical-align: middle;
	margin-right: 0.3em;
}

.user-review .playtime {
	color: #666;
	vertical-align: text-top;
}

.user-review .additional-info {
	color: #999;
	font-size: 0.9em;
}

html.js .user-review .review-text.minimized {
	position: relative;
	max-height: 190px;
	overflow: hidden;
}

html.js .user-review .review-text.minimized:after {
	content: '';
	pointer-events: none;
	position: absolute;
	display: block;
	bottom: 0;
	width: 100%;
	height: 5em;
	background-repeat: repeat-x;
	background-position: 0 100%;
	background-image: url(../i/reviews-fade.png); /* fallback */
	background-image: -webkit-linear-gradient(rgba(34,34,34,0), rgba(34,34,34,255));
	background-image: -moz-linear-gradient(rgba(34,34,34,0), rgba(34,34,34,255));
	background-image: linear-gradient(rgba(34,34,34,0), rgba(34,34,34,255));
}

.user-review .review-expand {
	margin-top: 0.5em;
	font-size: 0.9em;
	display: none;
}

html.js .user-review .review-text.minimized + .review-expand {
	display: block;
}

.user-review > footer {
	border-top: 1px solid #333;
	padding-top: 1em;
}

.user-review > footer p {
	margin-bottom: 0;
}

.user-review .vote {
	font-size: 0.9em;
}

.user-review .vote-question {
	margin-right: 0.3em;
}

.user-review .vote-buttons {
	display: inline-block;
}

.user-review .vote-form {
	display: inline;
}

.user-review .vote button {
	margin-right: 0.2em;
}

/* price area */
.price-area > * {
	margin-bottom: 0.5em;
}

.price-area .discount {
	background: #94de35;
	vertical-align: middle;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	padding: 0.5em;
}

.price-area .price {
	margin-right: 0.5em;
	background: #111;
	display: inline-block;
	vertical-align: middle;
	padding: 0.5em;
}

.price-area .purchase-form {
	display: inline-block;
	vertical-align: middle;
}

.price-area .price .original-price {
	text-decoration: line-through;
	color: #999;
}

/*
LAYOUT
*/
.main {
	margin-left: auto;
	margin-right: auto;
}

@media all and (min-width: 75em) {
	.main {
		width: 90%;
		max-width: 1040px; /* fallback */
		max-width: 85rem;
	}
}

/*
GRID
*/
.grid-base .grid-base {
	margin-left: 0;
	margin-right: 0;
}

.grid-base > * {
	margin-left: 3%;
	margin-right: 3%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.grid-base:after,
.grid-cell:after {
	content: '';
	display: table;
	clear: both;
}

.grid-fullwidth {
	margin-left: 0;
	margin-right: 0;
}

@media all and (min-width: 45em) {
	[class*="grid-col-"] {
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-left: 1.5%;
		margin-right: 1.5%;
	}

	[class*="grid-col-"]:first-child {
		margin-left: 0;
	}

	[class*="grid-col-"]:last-child {
		margin-right: 0;
	}

	[class*="grid-col-"].grid-text-right {
		text-align: right;
	}

	.grid-col-1 {
		width: 7.3%;
	}

	.grid-col-2 {
		width: 17.6%;
	}

	.grid-col-3 {
		width: 27.9%;
	}

	.grid-col-4 {
		width: 38.2%;
	}

	.grid-col-5 {
		width: 48.5%;
	}

	.grid-col-6 {
		width: 58.8%;
	}

	.grid-col-7 {
		width: 69.1%;
	}

	.grid-col-8 {
		width: 79.4%;
	}

	.grid-col-9 {
		width: 89.7%;
	}
}

/*
PAGES
*/
/* store game page */
.store-game-page {
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: 50em auto;
}

@media all and (min-width: 30em) {
	.store-game-page {
		background-size: 80em auto;
	}
}

@media all and (min-width: 75em) {
	.store-game-page {
		background-size: 100em auto;
	}

	.store-game-page .main {
		margin-top: 1.5em;
	}
}

@media all and (min-width: 100em) {
	.store-game-page {
		background-size: 100% auto;
	}
}

.store-game-page .main {
	background: url(../i/transparent50.png); /* fallback */
	background: -webkit-linear-gradient(rgba(0,0,0,0.6) 700px, rgba(17,17,17,255) 1000px);
	background: -moz-linear-gradient(rgba(0,0,0,0.6) 700px, rgba(17,17,17,255) 1000px);
	background: linear-gradient(rgba(0,0,0,0.6) 700px, rgba(17,17,17,255) 1000px);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.store-game-page .main > header {
	text-align: center;
	padding: 24px 0 8px; /* fallback */ 
	padding: 1.5rem 0 0.5rem;
	overflow: hidden; /* clearfix */
}

.store-game-page .main > header .game-icon {
	display: none;
}

.store-game-page .main > header .price-area {
	margin-top: 1em;
}

.store-game-page section,
.store-game-page aside {
	margin-bottom: 24px; /* fallback */
	margin-bottom: 1.5rem;
}

@media all and (min-width: 45em) {
	.store-game-page .main > header h1 {
		padding-left: 40px; /* fallback */
		padding-left: 2.5rem;
	}

	.store-game-page .main > header h1 .game-icon {
		display: inline-block;
		margin-left: -40px;
		margin-right: 8px;
		width: 32px; /* fallback */
		height: 32px; /* fallback */
		vertical-align: -0.1em;
		box-shadow: inset 0 0 5px rgba(0,0,0,0.3),
					inset 0 0 1px #000;
	}
}

.game-purchase-options > * {
	margin-bottom: 1.5em;
}

.game-dlc-notice {
	position: relative;
	padding: 16px; /* fallback */
	padding: 1rem;
	border: 1px solid;
	border-color: #6b2269 #6b2269 #6b2250 #6b2269;
	border-radius: 0.3em;
	background: #3f153f; /* fallback */
	background-image: -webkit-linear-gradient(#411541, #290e23);
	background-image: -moz-linear-gradient(#411541, #290e23);
	background-image: linear-gradient(#411541, #290e23);
}

.game-dlc-notice:before {
	content: '';
	position: absolute;
	display: block;
	top: -14px;
	left: 10%;
	width: 0;
	border: 14px solid;
	border-color: transparent transparent #6b2269 transparent;
	border-top-width: 0;
}

.game-dlc-notice:after {
	content: '';
	position: absolute;
	display: block;
	top: -12px;
	left: 10%;
	width: 0;
	border: 14px solid;
	border-color: transparent transparent #411541 transparent;
	border-top-width: 0;
}

.game-dlc-notice > * {
	margin: 0;
}

.game-purchase-option {
	border: 1px solid;
	border-color: #4d4d4d;
	overflow: hidden; /* clearfix */
	background: #262626;
	background: rgba(45,45,45,0.8);
	padding: 1em 1em 0.5em;
}

.game-purchase-option > * {
	margin-bottom: 8px; /* fallback */
	margin-bottom: 0.5rem;
}

.game-purchase-option .price-area {
	margin-bottom: 0;
}

html.js .game-description .description-text.minimized {
	position: relative;
	max-height: 300px;
	overflow: hidden;
}

html.js .game-description .description-text.minimized:after {
	content: '';
	pointer-events: none;
	position: absolute;
	display: block;
	bottom: 0;
	width: 100%;
	height: 5em;
	background-repeat: repeat-x;
	background-position: 0 100%;
	background-image: url(../i/fade.png); /* fallback */
	background-image: -webkit-linear-gradient(rgba(17,17,17,0), rgba(17,17,17,255));
	background-image: -moz-linear-gradient(rgba(17,17,17,0), rgba(17,17,17,255));
	background-image: linear-gradient(rgba(17,17,17,0), rgba(17,17,17,255));
}

.game-description .expand {
	font-size: 0.9em;
	display: none;
}

html.js .game-description .description-text.minimized + .expand {
	display: block;
}

@media all and (min-width: 45em) {
	html.js .game-description .description-text.minimized {
		max-height: none;
	}

	html.js .game-description .description-text.minimized:after,
	html.js .game-description .description-text.minimized + .expand {
		display: none;
	}
}

.game-info {
	background: url(../i/transparent-gray.png); /* fallback */
	background: rgba(64,64,64,0.3);
	padding: 1em 1em 0;
	overflow: hidden;
}

.game-info > p.hr {
	margin-bottom: 1em;
}

.game-buy-share {
	text-align: center;
}

.game-buy-share .add-to-wishlist {
	width: 100%;
}

.game-languages {
	font-size: 0.8em;
}

.game-feature-list {
	font-size: 0.9em;
}

.game-feature-list ul {
	padding-left: 0;
}

.game-feature-list ul li {
	margin-bottom: 0.5em;
	padding: 0.3em 0.5em;
	border-radius: 0.2em;
	border: 1px solid;
	border-color: #333; /* fallback */
	border-color: rgba(255,255,255,0.1);
}

.game-feature-list ul li:before {
	position: static;
	margin: 0 0.5em 0 0;
}

.game-details dl {
	margin-bottom: 0;
}

@media all and (min-width: 30em) {
	.game-details,
	.game-links {
		float: left;
		width: 50%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.game-details {
		padding-right: 16px; /* fallback */
		padding-right: 1rem;
	}

	.game-links {
		padding-left: 16px; /* fallback */
		padding-left: 1rem;
	}
}

@media all and (min-width: 45em) {
	.game-details,
	.game-links {
		float: none;
		width: auto;
		padding-left: 0;
		padding-right: 0;
	}
}

.game-links ul {
	list-style-type: none;
	padding-left: 0;
}

.game-links ul li {
	margin-bottom: 0.5em;
}

.game-friends ul {
	font-size: 0.9em;
	overflow: hidden; /* clearfix */
	list-style-type: none;
	padding-left: 0;
}

.game-friends ul li {
	float: left;
	width: 100%;
	padding-right: 1em;
	margin-bottom: 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@media all and (min-width: 23em) {
	.game-friends ul li {
		width: 50%;
	}
}

@media all and (min-width: 35em) {
	.game-friends ul li {
		width: 33.33%;
	}
}

@media all and (min-width: 45em) {
	.game-friends ul li {
		width: 100%;
	}
}

@media all and (min-width: 57em) {
	.game-friends ul li {
		width: 50%;
	}
}

.game-sys-req {
	margin-top: 16px; /* fallback */
	margin-bottom: 16px; /* fallback */
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.game-customer-reviews {
	margin-top: 16px; /* fallback */
	margin-bottom: 16px; /* fallback */
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 1.5em 0 0 0;
	background: #222;
}

.game-customer-reviews header {
	margin-bottom: 24px; /* fallabck */
	margin-bottom: 1.5rem;
}

.game-customer-reviews header h2 {
	margin-bottom: 0;
}

.game-customer-reviews article {
	padding: 1em;
	border: 1px solid #333;
	margin-bottom: 2em;
}