.post-item
    &__time
        display block
        font-size 0.7em
        font-style italic
        opacity 0.6

    @media all and (min-width 40em)
        &__time
            display inline
            white-space nowrap
            font-size 1rem
            
        &__time:before
            content " — "

    &__category-link
        font-size 0.7em
