.post-list
    &__item
        padding-left 0

    @media all and (min-width 40em)
        &__item
            padding-left 1.1em
            
        &__item:before
            content '—'
            position absolute
            display inline-block
            width 0.75em
            margin-left -1em
            overflow hidden
            
        html.operamini &__item:before
            overflow visible
            
    @media all and (min-width 75em)
        &__item
            padding-left 0
