
/*
  __                  __      __                     
 /\ \                /\ \    /\ \__                  
 \_\ \     __    ____\ \ \/'\\ \ ,_\   ___   _____   
 /'_` \  /'__`\ /',__\\ \ , < \ \ \/  / __`\/\ '__`\ 
/\ \L\ \/\  __//\__, `\\ \ \\`\\ \ \_/\ \L\ \ \ \L\ \
\ \___,_\ \____\/\____/ \ \_\ \_\ \__\ \____/\ \ ,__/
 \/__,_ /\/____/\/___/   \/_/\/_/\/__/\/___/  \ \ \/ 
                                               \ \_\ 
                                                \/_/ 
*/
@media screen and (min-width: 65em) {
	body > header,
	body > footer,
	.content > * {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (min-width: 75em) {
	/* base */
	body > header {
		margin-top: 0;
	}

	/* blocks */
	.content ul.posts li {
		padding-left: 0;
	}

	figure img {
		max-height: none;
	}

	/* forms */
	textarea,
	input {
		font-size: 1em;
	}

	textarea.big,
	input.big {
		font-size: 1.2em;
	}
}
