
body {
	background: #fff;
}

a.logo {
	right: auto;
}

a.logo span {
	display: none;
}

figure.info > div:before {
	font-size: 1.2em;
}

body > header,
body > footer,
.content > * {
	padding-left: 24px;
	padding-right: 24px;
}

.content > blockquote {
	padding-left: 0;
	padding-right: 0;
}

.content > blockquote > * {
	padding-left: 24px;
	padding-right: 24px;
}