
/*
  _____      _                                  _         _           
 |  __ \    (_)                                | |       | |          
 | |__) | __ _ _ __ ___   __ _ _ __ _   _   ___| |_ _   _| | ___  ___ 
 |  ___/ '__| | '_ ` _ \ / _` | '__| | | | / __| __| | | | |/ _ \/ __|
 | |   | |  | | | | | | | (_| | |  | |_| | \__ \ |_| |_| | |  __/\__ \
 |_|   |_|  |_|_| |_| |_|\__,_|_|   \__, | |___/\__|\__, |_|\___||___/
                                     __/ |           __/ |            
                                    |___/           |___/             
*/

/* base styles */
::-moz-selection {
	background: #bbd9ff;
	color: inherit;
	text-shadow: none;
}

::selection {
	background: rgba(187,217,255,0.7);
	color: inherit;
	text-shadow: none;
}

html {
	min-height: 100%;
	font-size: 80%;
}

html.ovi {
	font-size: 18px;
}

body {
	padding: 1.5em 0 0;
	overflow-x: hidden;
	font-size: 1.15em;
	color: #403333;
	line-height: 1.6;
	height: 100%;
	background: #fcfcfa;
}

html.bw body {
	color: #000;
	background: #fff;
}

html.ovi body,
html.operamini body {
	background: #fff;
}

html.kindle * {
	box-shadow: none !important;
}

html,
button,
input,
select,
textarea {
	font-family: 'Scada Webfont', sans-serif;
}

html.kindle,
html.kindle button,
html.kindle input,
html.kindle select,
html.kindle textarea {
	font-family: sans-serif;
}

article > *:first-child {
	margin-top: 0;
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
	line-height: 1.2em;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.15em;
}

p {
	word-wrap: break-word;
}

p,
ul,
ol,
pre,
figure,
table,
blockquote,
h1,
h2,
h3,
h4,
hgroup {
	margin: 0 0 24px 0; /* fallback */
	margin: 0 0 1.5rem 0;
}

hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4 {
	margin-bottom: 0;
}

a {
	color: #168cd2;
	text-decoration: underline;
	-moz-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}

a.iconlink {
	text-decoration: none;
}

a.iconlink > span {
	text-decoration: underline;
}

a.iconlink:hover > span,
a.iconlink:active > span  {
	text-decoration: none;
}

html.fontface a.external {
	position: relative;
	padding-right: 0.8em;
}

html.fontface a.external:after {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0.6em;
	font-family: 'icomoon-dizaina';
	content: "\e06d";
}

h1 a,
h2 a,
h3 a,
h4 a {
	text-decoration: none;
	border-bottom: 1px solid;
}

html.kindle h1 a,
html.kindle h2 a,
html.kindle h3 a,
html.kindle h4 a {
	text-decoration: underline;
	border-bottom: none;
}

h1 a.iconlink span,
h2 a.iconlink span,
h3 a.iconlink span,
h4 a.iconlink span {
	text-decoration: none;
}

a:visited {
	color: #7c64b4;
}

a:hover {
	color: #fff;
	background: #f92672;
	text-decoration: none;
}

html.bw a,
html.bw .lang-switcher a,
html.bw .title a {
	color: #000;
}

html.bw a:hover,
html.bw a:active {
	color: #fff;
	background: #333;
}

blockquote {
	font-style: italic;
	padding-top: 1em;
	padding-bottom: 1em;
	background: #f5f5f5;
}

blockquote *:last-child {
	margin-bottom: 0;
}

figure.info {
	text-align: left;
	position: relative;
	font-size: 0.8em;
	background: #fcfcfa;
	padding: 1em;
	border-radius: 0.5em;
	-webkit-box-shadow: inset 0 0 10px rgba(100,80,0,0.12);
	box-shadow: inset 0 0 10px rgba(100,80,0,0.12);
}

figure.info:before {
	display: none;
}

figure.info > :last-child,
figure.info > :last-child pre {
	margin-bottom: 0;
}

html.bw figure.info {
	background: transparent;
	border: 1px solid #999;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	margin: 0 0 1rem 0;
}

.content ul li {
	padding-left: 1.1em;
}

.content ul li:before {
	content: "—";
	position: absolute;
	display: inline-block;
	width: 0.75em;
	margin-left: -1em;
	overflow: hidden;
}

.content ul.nopadding li {
	padding-left: 0;
}

.content ul.nopadding li:before {
	content: "";
	display: none;
}

html.operamini .content ul li:before {
	overflow: visible;
}

kbd {
	display: inline-block;
	line-height: 1.25;
	background: #f9f9f9;
	border: 0.09em solid #ddd;
	border-radius: 0.25em;
	padding: 0 0.25em 0.1em;
	font-size: 0.75em;
	font-family: inherit;
	box-shadow: 0 0.15em 0 0.1em #ddd,
				inset 0 0 0 0.1em #fff;
	white-space: nowrap;
}

html.boxshadow kbd {
	vertical-align: 0.1em;
	margin: 0 0.2em;
}

html.bw kbd {
	background: #fff;
	border-color: #999;
	box-shadow: 0 0.2em 0 0.1em #999;
}
	
pre {
	background: #fff;
	white-space: pre;
	word-wrap: normal;
	padding: 1em;
	overflow: auto;
	box-shadow: 0 0 5px rgba(64,0,0,0.1);
	-webkit-overflow-scrolling: touch;
}

.codewrap_maxheight pre {
	max-height: 20em;
}

html.kindle pre {
	max-height: 17em;
}

html.no-boxshadow pre {
	border: 1px solid #f4f2ec;
}

html.ovi pre,
html.operamini pre {
	padding: 0;
	border: none;
	box-shadow: none;
}

code {
	border: 1px solid #ddd;
	border-radius: 0.25em;
	padding: 0 0.25em;
	font-size: 0.8em;
	font-family: Consolas, Monaco, 'Andale Mono', monospace, serif;
}

html.operamini code {
	font-family: sans-serif;
}

html.bw code {
	border-color: #999;
}

pre code,
html.bw pre code {
	font-size: 15px;
	font-size: 0.9rem;
	border: 0;
	border-radius: 0;
	padding: 0;
	white-space: pre;
	word-wrap: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

html.operamini pre code,
html.ovi pre code {
	white-space: pre-wrap;
}

/*
-----
forms
-----
*/
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	font-size: 1.2em;
	border: 1px solid #c9c9c9;
	border-radius: 0.2em;
	padding: 0.2em 0.5em;
	-webkit-box-shadow: inset 0 0.1em 0.1em rgba(0,0,0,0.1);
	box-shadow: inset 0 0.1em 0.1em rgba(0,0,0,0.1);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
	border-color: #168cd2;
	outline: none;
	-webkit-box-shadow: inset 0 0.1em 0.1em rgba(0,0,0,0.1),
						0 0 0.2em rgba(22,140,210,0.5);
	box-shadow: inset 0 0.1em 0.1em rgba(0,0,0,0.1),
				0 0 0.2em rgba(22,140,210,0.5);
}

textarea.big,
input.big {
	font-size: 1.3em;
}

.pseudo-link {
	background: transparent;
	border: 0;
	padding: 0;
	color: #168cd2;
	border-bottom: 1px dashed;
}

.pseudo-link:hover {
	color: #fff;
	background: #f92672;
	border-bottom-color: transparent;
}

/*
-------
figures
-------
*/
figure {
	text-align: center;
}

html.kindle figure {
	overflow: hidden;
}

figure img {
	max-width: 100%;
	max-height: 350px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

figure > a img,
figure > a:hover img,
figure > a:active img,
figure > a:focus img {
	background: transparent;
}

figure figcaption {
	font-style: italic;
	color: #787575;
	font-size: 0.8em;
}

html.bw figure figcaption {
	color: #333;
}

figure figcaption {
	padding-bottom: 0.8rem;
}

figure * + figcaption {
	padding-top: 0.8rem;
	padding-bottom: 0;
}

/*
------
blocks
------
*/
body > header,
body > footer,
.content > * {
	width: 92%;
	max-width: 60rem;
	margin-left: auto;
	margin-right: auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.content > blockquote {
	width: 100%;
	padding-left: 4%;
	padding-right: 4%;
}

ul.lang-switcher {
	margin: 0;
	padding: 0 0 1em 0;
	color: #a19e91;
}

html.bw ul.lang-switcher {
	color: #333;
}

ul.lang-switcher li {
	display: inline-block;
	font-size: 0.7em;
	margin: 0 0.5em 0 0;
}

ul.lang-switcher li > * {
	display: inline-block;
	padding: 0.2em 0.3em 0.1em;
}

ul.lang-switcher a:visited {
	color: #168cd2;
}

ul.lang-switcher a:hover,
ul.lang-switcher a:active {
	color: #fff;
}

a.logo {
	display: inline-block;
	background: #faa615;
	padding: 0.45rem 0.6rem;
	font-size: 0.8rem;
	color: white;
	text-decoration: none;
	white-space: nowrap;
}

a.logo:visited {
	background: #faa615;
	color: white;
}

body.post a.logo,
body.post a.logo:visited {
	background: #e7e5e1;
}

a.logo:hover,
body.post a.logo:hover {
	background: #f92672;
}

html.ovi a.logo span,
html.operamini a.logo span {
	display: none;
}

html.bw a.logo,
html.bw body.post a.logo {
	color: #fff;
	background: #999;
}

h1.title a {
	text-decoration: none !important; /* kindle won't listen without important */
	border-bottom: 2px solid;
}

h1.title a:visited {
	color: #168cd2;
}

h1.title a:hover {
	color: #fff;
	border-color: #f92672;
}

.content {
	padding-top: 1em;
	padding-bottom: 1em;
}

.content .post-cat-title {
	margin-bottom: 0;
}

body.post .content {
	background: #fff;
	-webkit-box-shadow: 0 0 10px rgba(100,80,0,0.12);
	box-shadow: 0 0 10px rgba(100,80,0,0.12);
}

html.bw body.post .content {
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.content ul.posts li {
	padding-left: 0;
}

.content ul.posts li:before {
	visibility: hidden;
}

.content ul.posts time {
	font-style: italic;
	display: block;
	font-size: 0.7em;
}

html.bw .content ul.posts time {
	color: #333;
}

.content ul.posts .cat-link {
	font-size: 0.7em;
}

.content .meta {
	font-size: 0.8em;
	color: #a19e91;
	margin-bottom: 0;
}

body > footer {
	margin-top: 2rem;
	font-size: 0.8em;
	color: #a19e91;
}

html.bw body > footer {
	color: #333;
}

body > footer ul.footer-links {
	padding: 0;
}

/*
------
tables
------
*/
.content > .table-holder {
	overflow: auto;
	width: 100%;
	margin-bottom: 1.5rem;
}

.content > .table-holder table {
	margin-bottom: 0;
}

table {
	width: 100%;
	padding: 0;
}

table.specification {
	margin-top: 2.2em;
	margin-bottom: 2.2em;
	padding: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

table.specification,
table.specification thead,
table.specification tbody,
table.specification tr,
table.specification td {
	display: block;
	width: auto;
}

html.ie9 table.specification {
	width: 100%;
}

td,
th {
	padding: 0.3em 0.5em;
	text-align: left;
}

table.specification td,
table.specification th {
	width: 92%;
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;
}

th {
	font-weight: bold;
}

tr {
	border-top: 1px solid #ddd;
}

tbody tr:last-child {
	border-bottom: 1px solid #ddd;
}

html.bw tr {
	border-top: 1px solid #999;
}

html.bw tbody tr:last-child {
	border-bottom: 1px solid #999;
}

tbody tr:nth-child(odd) {
	background: #f8f8f8;
}

html.bw tbody tr:nth-child(odd) {
	background: transparent;
}

td.true {
	color: #393;
	background: #efffe5;
}

td.false {
	color: #933;
	background: #ffede5;
}


/* peppermint */
.peppermint {
	max-width: none;
	width: 100%;
}

.peppermint figure {
	padding-left: 1rem;
	padding-right: 1rem;
}

.peppermint.active {
	margin-bottom: 1.5rem;
}

html.bw .peppermint.active > ul.dots > li > span {
	background: #000;
	width: 12px;
	height: 12px;
	margin: -6px 0 0 -6px;
}

html.bw .peppermint.active > ul.dots > li.active > span {
	border: 1px solid #000;
	background: transparent;
	width: 14px;
	height: 14px;
	margin: -8px 0 0 -8px;
}

.peppermint.active > ul.dots > li:before {
	display: none;
	content: '';
}

html.bw .peppermint.active .slides {
	-webkit-transition-duration: 0ms !important;
	transition-duration: 0ms !important;
}


/* console */
#test_console {
	margin-bottom: 1.5rem;
}

#test_console p {
	font-size: 0.8em;
	font-family: Consolas, Monaco, 'Andale Mono', monospace, serif;
	padding: 0.5em;
	margin: 0;
	border-bottom: 1px solid white;
}

#test_console .info {
	background: #f5f5f5;
}

#test_console .warning {
	color: white;
	background: #eec507;
}

#test_console .error {
	color: white;
	background: #ee6907;
}