
/*
       __                                
      /\ \                               
 _____\ \ \___     ___     ___      __   
/\ '__`\ \  _ `\  / __`\ /' _ `\  /'__`\ 
\ \ \L\ \ \ \ \ \/\ \L\ \/\ \/\ \/\  __/ 
 \ \ ,__/\ \_\ \_\ \____/\ \_\ \_\ \____\
  \ \ \/  \/_/\/_/\/___/  \/_/\/_/\/____/
   \ \_\                                 
    \/_/                                 
*/

@media screen and (min-width: 18em) {
	html {
		font-size: 90%;
	}
}

@media screen and (min-width: 25em) {
	html {
		font-size: 100%;
	}

	.content ul.posts li {
		padding-left: 1.1em;
	}

	.content ul.posts li:before {
		visibility: visible;
	}
}
