{% include init.html %}<!DOCTYPE html>
<!--[if lte IE 9]> <html class="no-js ie9" lang="{{ lang }}"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="{{ lang }}"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="msapplication-tap-highlight" content="no">

	{% if page.title == "" %}
	<title>{{ site.loc.name[lang] }}</title>
	{% else %}
	<title>{{ page.title }}</title>
	{% endif %}

	<!-- styles -->
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="/css/ie7.css?{{ ie7_style_hash }}">
	<![endif]-->
	
	<!--[if IE 8]>
		<link rel="stylesheet" href="/css/ie8.css?{{ ie8_style_hash }}">
	<![endif]-->

	<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="/css/style.css?{{ style_hash }}">
	<!--<![endif]-->

	<!-- header scripts -->
	{% if site.jsconsole %}
	<script src="http://jsconsole.com/remote.js?D4B3A2E7-98DC-4EE9-A343-488D573CAE1D"></script>
	{% endif %}
	<script src="/js/header_scripts.js?{{ js_h_hash }}"></script>
</head>

{% if page.post %}
<body class="post">
{% else %}
<body>
{% endif %}
	{% if site.console %}
		<div id="console"></div>
	{% endif %}
	<header>
		<ul class="lang-switcher">
			{% if lang == "en" %}
			<li><a href="/">{{ site.loc.in_lang.ru }}</a></li>
			<li><span>{{ site.loc.in_lang.en }}</span></li>
			{% else %}
			<li><span>{{ site.loc.in_lang.ru }}</span></li>
			<li><a href="/en/">{{ site.loc.in_lang.en }}</a></li>
			{% endif %}
		</ul>

		{% if page.url == root %}
		<h1 class="title">{{ site.loc.name[lang] }}</h1>
		{% else %}
		<h1 class="title"><a href="{{ root }}">{{ site.loc.name[lang] }}</a></h1>
		{% endif %}
	</header>

	{% if page.post %}
	<article class="content">
		{{ content_parsed }}
	</article>
	{% else %}
	<div class="content">
		{{ content_parsed }}
	</div>
	{% endif %}

	<footer>
		<ul class="footer-links">
			<li>{{ site.loc.footer[lang][0] }}</li>
			<li>{{ site.loc.footer[lang][1] }}</li>
			<li>{{ site.loc.footer[lang][2] }}</li>
		</ul>
		<p><a href="//dizaina.net" class="logo"><span>&empty; </span>dizaina.net</a></p>
	</footer>

	<script src="/js/scripts.js?{{ js_hash }}"></script>
	<!--[if lte IE 8]>
		<script src="/js/selectivizr.min.js"></script>
	<![endif]-->
</body>
</html>
