{% include init.html %}
<!DOCTYPE html>
<!--[if lt IE 8]> <html class="no-js ie ie8 ie7" lang="{{ lang }}"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie ie8" lang="{{ lang }}"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie" lang="{{ lang }}"> <![endif]-->
<!--[if !IE]><!--> <html class="no-js" lang="{{ lang }}"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="msapplication-tap-highlight" content="no">
	{% if site.dev %}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	{% endif %}

	{% if page.title == "" %}
	<title>{{ site.loc.name[lang] }}</title>
	{% else %}
	<title>{{ page.title }}</title>
	{% endif %}

	<!-- styles -->
	<link rel="stylesheet" href="//dizaina.net/common/css/boilerplate.css">
	
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="/css/ie7.css">
		<link rel="stylesheet" href="//dizaina.net/common/css/font-awesome-ie7.css">
	<![endif]-->
	
	<!--[if IE 8]>
		<link rel="stylesheet" href="/css/ie8.css">
	<![endif]-->

	<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="/css/style.css">
	<!--<![endif]-->
	
	<link rel="stylesheet" href="//dizaina.net/common/css/font-awesome.css"> <!-- Font Awesome is awesome - fortawesome.github.com/Font-Awesome/ -->

	<!-- header scripts -->
	{% if site.jsconsole %}
	<script src="http://jsconsole.com/remote.js?D4B3A2E7-98DC-4EE9-A343-488D573CAE1D"></script>
	{% endif %}
	<script src="/js/header_scripts.js"></script>
</head>

{% if page.post %}
<body class="post">
{% else %}
<body>
{% endif %}
	<header>
		<ul class="lang-switcher">
			{% if lang == "en" %}
			<li><a href="/">{{ site.loc.in_lang.ru }}</a></li>
			<li><span>{{ site.loc.in_lang.eng }}</span></li>
			{% else %}
			<li><span>{{ site.loc.in_lang.ru }}</span></li>
			<li><a href="/en/">{{ site.loc.in_lang.eng }}</a></li>
			{% endif %}
		</ul>

		<a href="//dizaina.net" class="logo"><span>&empty; </span>dizaina.net</a>

		{% if page.url == root %}
		<h1 class="title">{{ site.loc.name[lang] }}</h1>
		{% else %}
		<h1 class="title"><a href="{{ root }}">{{ site.loc.name[lang] }}</a></h1>
		{% endif %}
	</header>

	{% if page.post %}
	<article class="content">
		{{ content_parsed }}
	</article>
	{% else %}
	<div class="content">
		{{ content_parsed }}
	</div>
	{% endif %}

	<footer>
	{{ site.loc.footer[lang] }}
	</footer>

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="/js/scripts.js"></script>
</body>
</html>
