.stage.peppermint {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-top: -1em;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    background: #f0f0f0;
}

.stage.peppermint .peppermint-slides {
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
}

html.blackberry .stage.peppermint .peppermint-slides {
    min-height: 16em;
}

html.no-flexbox.no-flexboxlegacy .stage.peppermint .peppermint-slides {
    height: 20em;
}

.stage.peppermint figure {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-bottom: 0;
}

.stage.peppermint-active figure {
    padding-bottom: 3em;
}

html.no-flexbox.no-flexboxlegacy .stage.peppermint figure {
    height: 100%;
}

.stage.peppermint figure:last-child {
    margin-bottom: 0;
}

.stage.peppermint figure img {
    box-shadow: none;
}

.stage.peppermint figure figcaption {
    font-size: 0.7em;
    color: #fff;
}

.stage.peppermint ul.peppermint-dots {
    position: absolute;
    bottom: 1.5em;
    left: 0;
    right: 0;
}

.stage.peppermint ul.peppermint-dots li span {
    background: #fff;
}

.stage.peppermint ul.peppermint-dots li.peppermint-active span {
    background: transparent;
    border-color: #fff;
}

.stage.peppermint code {
    border-color: #fff;
}

.stage.peppermint a,
.stage.peppermint a:hover,
.stage.peppermint a:active {
    background: transparent;
    color: #fff;
}

.stage.peppermint .yellow {
    background: #fdeb75;
    color: #333;
}

.stage.peppermint .yellow h1 {
    margin-bottom: 0;
}

.stage.peppermint .yellow h3 {
    margin-bottom: 2em;
}

.stage.peppermint .yellow a.github {
    color: #3fa0b5;
    text-decoration: none;
    padding: 0.5em 1em;
    border: 1px solid;
    border-color: #bfa451;
    border-color: rgba(50,0,0,0.2) rgba(50,0,0,0.3) rgba(50,0,0,0.4) rgba(50,0,0,0.3);
    border-radius: 0.5em;
    box-shadow: inset 0 1px 0 2px rgba(255,255,255,0.3),
                            0 2px 0 0 rgba(30,0,0,0.1);
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
}

.stage.peppermint .yellow a.github:hover {
    background: rgba(255,50,50,0.05);
}

.stage.peppermint .red {
    color: #fff;
    background: #ca5d40 url("/pics/peppermint/red.jpg") 50% 50% no-repeat;
    background-size: auto 100%;
    -moz-background-size: cover;
    background-size: cover;
}

.stage.peppermint .green {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(150,214,73,0.4);
    background-image: linear-gradient(90deg, rgba(255,255,255,.08) 50%, transparent 50%),
                                        linear-gradient(90deg, rgba(255,255,255,.14) 50%, transparent 50%),
                                        linear-gradient(90deg, transparent 50%, rgba(255,255,255,.18) 50%),
                                        linear-gradient(90deg, transparent 50%, rgba(255,255,255,.2) 50%);
    background-size: 13px, 29px, 37px, 53px;
    background-color: #8bcc3c;
}

.stage.peppermint .blue {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(89,135,198,0.6);
    background: #5988c6 url("/pics/peppermint/blue.jpg") 50% 50% no-repeat;
    background-size: auto 100%;
    -moz-background-size: cover;
    background-size: cover;
}

.stage.peppermint .blue h1 {
    line-height: 1.6;
}

.stage.peppermint .blue p a,
.stage.peppermint .blue p a:hover,
.stage.peppermint .red p a,
.stage.peppermint .red p a:hover {
    color: #fff;
    text-decoration: underline;
}

html.winphone .stage.peppermint .blue,
html.winphone .stage.peppermint .green {
    text-shadow: none;
}

.stage.peppermint kbd {
    color: #333;
    text-shadow: none;
}

@media all and (min-width: 40em) {
    .stage.peppermint h1 {
        font-size: 4em;
    }

    .stage.peppermint a.github {
        font-size: 1.5em;
    }
}

@media all and (min-width: 65em) {
    .stage.peppermint .peppermint-slides {
        height: 25em;
    }

    .stage.peppermint h1 {
        font-size: 5em;
    }
}