.price-area {
    display: inline-block;
    overflow: hidden; /* clearfix */
    vertical-align: top;
    margin-bottom: 0.5em;
}

.price-area .discount {
    float: left;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 0.5em;
    background: #94de35;
}

.price-area .discount > span {
    font-size: 1.8em;
}

.price-area .price {
    float: left;
    overflow: hidden; /* clearfix */
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 0.5em;
    margin-right: 0.5em;
    background: #111;
}

.price-area .price .original-price {
    display: block;
    line-height: 1.1em;
    text-decoration: line-through;
    color: #999;
    text-align: left;
}

.price-area .price .original-price > span {
    font-size: 0.8em;
}

.price-area .price .final-price {
    display: block;
    line-height: 1.2em;
    text-align: left;
}