.gallery.peppermint.inactive {
	white-space: nowrap;
	word-wrap: normal;
	overflow: auto;
}

.gallery.peppermint.inactive figure {
	display: inline-block;
	margin-bottom: 0;
}

.gallery.peppermint.inactive figure img {
	max-width: 100vw;
}

.gallery.peppermint figure img {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.gallery .viewport {
	position: relative;
}

.gallery .viewport .arrow-prev,
.gallery .viewport .arrow-next {
	display: none;
}

@media all and (min-width: 65em) {
	.gallery .viewport .arrow-prev,
	.gallery .viewport .arrow-next {
		display: block;
		background: rgba(0,0,0,0); /* ie mobile fix */
		visibility: hidden;
		position: absolute;
		top: 50%;
		width: 50px;
		height: 40px;
		margin-top: -20px;
		opacity: 0;
		cursor: pointer;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: transparent;
		tap-highlight-color: transparent;
	}

	.gallery .viewport .arrow-prev {
		left: 0;
		-webkit-transform: translate3d(-50px,0,0);
		transform: translate3d(-50px,0,0);
	}

	.gallery .viewport .arrow-next {
		right: 0;
		-webkit-transform: translate3d(50px,0,0);
		transform: translate3d(50px,0,0);
	}

	.gallery.peppermint.inactive .viewport .arrow-prev,
	.gallery.peppermint.inactive .viewport .arrow-next {
		display: none;
	}

	.gallery .viewport .arrow-prev:before,
	.gallery .viewport .arrow-next:before {
		position: absolute;
		top: 50%;
		margin-top: -12px;
	}

	.gallery .viewport .arrow-prev:before {
		right: 0;
	}

	.gallery .viewport .arrow-next:before {
		left: 0;
	}

	.gallery .viewport:hover .arrow-prev,
	.gallery .viewport:hover .arrow-next {
		visibility: visible;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}

	.gallery .viewport .arrow-prev.disabled,
	.gallery .viewport .arrow-next.disabled {
		cursor: default;
	}

	.gallery .viewport:hover .arrow-prev.disabled,
	.gallery .viewport:hover .arrow-next.disabled {
		opacity: 0.3;
	}

	html.no-opacity .gallery .viewport:hover .arrow-prev.disabled,
	html.no-opacity .gallery .viewport:hover .arrow-next.disabled {
		display: none;
	}
}

.gallery .thumbs {
	display: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media all and (min-width: 45em) {
	.gallery.peppermint figure img {
		-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
	}

	.gallery .dots {
		display: none;
	}

	html.js .gallery .thumbs.active {
		display: block;
	}
}

.gallery.peppermint figure img {
	max-height: 300px;
}

@media all and (min-height: 30em) {
	.gallery.peppermint figure img {
		max-height: 400px;
	}
}

@media all and (min-height: 40em) {
	.gallery.peppermint figure img {
		max-height: 550px;
	}
}

@media all and (min-height: 45em) {
	.gallery.peppermint figure img {
		max-height: none;
	}
}

.gallery .thumbs ul {
	white-space: nowrap;
	word-wrap: normal;
	list-style-type: none;
	padding: 0.5em 0;
	margin-bottom: 0;
}

.gallery .thumbs ul li {
	position: relative;
	display: inline-block;
	border: 2px solid;
	border-color: transparent;
	margin-bottom: 0;
	cursor: pointer;
	/* ie7 fallback */
	*display: inline;
	zoom: 1;
}

.gallery .thumbs ul li:first-child {
	margin-left: 1em;
}

.gallery .thumbs ul li:last-child {
	margin-right: 1em;
}

.gallery .thumbs ul li.active {
	border-color: #7CB8E4;
}

.gallery .thumbs ul li.active:after {
	content: '';
	position: absolute;
	display: block;
	top: -0.5em;
	left: 50%;
	margin-left: -0.25em;
	width: 0;
	border: 0.5em solid;
	border-color: transparent transparent #7CB8E4 transparent;
	border-top-width: 0;
}


/* sprites */

[class*="icon-b-"]:before,
[class*="icon-a-"]:after {
	content: '';
	display: inline-block;
	width: 17px;
	height: 16px;
	margin: 0 0.15em;
	background-image: url(/steam/i/sprites.png);
	background-repeat: no-repeat;
	vertical-align: text-top;
}

@media
(-webkit-min-device-pixel-ratio: 1.3),
(-o-min-device-pixel-ratio: 13/10),
(min-resolution: 120dpi) {
	html.backgroundsize [class*="icon-b-"]:before,
	html.backgroundsize [class*="icon-a-"]:after {
		background-size: 504px 240px;
		background-image: url(/steam/i/sprites@2x.png);
	}
}

.icon-b-chevron-left:before,
.icon-a-chevron-left:after {
	background-position: 3px -64px;
}
.icon-b-chevron-right:before,
.icon-a-chevron-right:after {
	background-position: -30px -64px;
}

@media all and (min-width: 35em) {
	.icon-big.icon-b-chevron-left:before,
	.icon-big.icon-a-chevron-left:after {
		width: 14px;
		height: 21px;
		background-position: -455px -219px;
	}
	.icon-big.icon-b-chevron-right:before,
	.icon-big.icon-a-chevron-right:after {
		width: 14px;
		height: 21px;
		background-position: -488px -219px;
	}
}