<section class="gallery peppermint js-steam-peppermint inactive">
	<div class="viewport">
		<div class="slides">
			<figure>
				<a href="/steam/i/1.jpg" target="_blank"><img src="/steam/i/m1.jpg"></a>
			</figure>

			<figure>
				<a href="/steam/i/2.jpg" target="_blank"><img src="/steam/i/m2.jpg"></a>
			</figure>

			<figure>
				<a href="/steam/i/3.jpg" target="_blank"><img src="/steam/i/m3.jpg"></a>
			</figure>

			<figure>
				<a href="/steam/i/4.jpg" target="_blank"><img src="/steam/i/m4.jpg"></a>
			</figure>

			<figure>
				<a href="/steam/i/5.jpg" target="_blank"><img src="/steam/i/m5.jpg"></a>
			</figure>

			<figure>
				<a href="/steam/i/6.jpg" target="_blank"><img src="/steam/i/m6.jpg"></a>
			</figure>


			<figure>
				<a href="/steam/i/1.jpg" target="_blank"><img src="/steam/i/m1.jpg"></a>
			</figure>

			<figure>
				<a href="/steam/i/2.jpg" target="_blank"><img src="/steam/i/m2.jpg"></a>
			</figure>

			<figure>
				<a href="/steam/i/3.jpg" target="_blank"><img src="/steam/i/m3.jpg"></a>
			</figure>

			<figure>
				<a href="/steam/i/4.jpg" target="_blank"><img src="/steam/i/m4.jpg"></a>
			</figure>

			<figure>
				<a href="/steam/i/5.jpg" target="_blank"><img src="/steam/i/m5.jpg"></a>
			</figure>

			<figure>
				<a href="/steam/i/6.jpg" target="_blank"><img src="/steam/i/m6.jpg"></a>
			</figure>
		</div>

		<span tabindex="0" class="arrow-prev icon-b-chevron-left icon-big shown"></span>
		<span tabindex="0" class="arrow-next icon-b-chevron-right icon-big shown"></span>
	</div>

	<div class="thumbs slime js-slime inactive">
		<ul>
			<li tabindex="0" class="thumb">
				<img width="115" height="65" src="/steam/i/p1.jpg">
			</li>

			<li tabindex="0" class="thumb">
				<img width="115" height="65" src="/steam/i/p2.jpg">
			</li>

			<li tabindex="0" class="thumb">
				<img width="115" height="65" src="/steam/i/p3.jpg">
			</li>

			<li tabindex="0" class="thumb">
				<img width="115" height="65" src="/steam/i/p4.jpg">
			</li>

			<li tabindex="0" class="thumb">
				<img width="115" height="65" src="/steam/i/p5.jpg">
			</li>

			<li tabindex="0" class="thumb">
				<img width="115" height="65" src="/steam/i/p6.jpg">
			</li>


			<li tabindex="0" class="thumb">
				<img width="115" height="65" src="/steam/i/p1.jpg">
			</li>

			<li tabindex="0" class="thumb">
				<img width="115" height="65" src="/steam/i/p2.jpg">
			</li>

			<li tabindex="0" class="thumb">
				<img width="115" height="65" src="/steam/i/p3.jpg">
			</li>

			<li tabindex="0" class="thumb">
				<img width="115" height="65" src="/steam/i/p4.jpg">
			</li>

			<li tabindex="0" class="thumb">
				<img width="115" height="65" src="/steam/i/p5.jpg">
			</li>

			<li tabindex="0" class="thumb">
				<img width="115" height="65" src="/steam/i/p6.jpg">
			</li>
		</ul>
	</div>
</section>