<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title><%= $.title %></title>

        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <script>
            (function () {
                function setVw() {
                    const vw = document.documentElement.clientWidth / 100;
                    document.documentElement.style.setProperty('--vw', `${vw}px`);
                }

                setVw();
                window.addEventListener('resize', setVw);
            }());
        </script>

        <%- $.content %>
    </body>
</html>
