---
layout: layouts/base
---
<header>
    <h1>
        <a href="/">Утром доделаю</a>
    </h1>
</header>

<main>
    <%- content %>
</main>

<footer>
    <a href=""https://github.com/wilddeer>ГитХаб</a> &middot;
    <a href="https://twitter.com/wildir">Твиттер</a> &middot;
    Комментарии, баги, замечания → <a href="mailto:me@grumpy.site">me@grumpy.site</a>
</footer>
