---
layout: layouts/content
---
<div class="post <%= $.postMod || ''%>">
    <div class="post__content">
        <%- $.content %>
    </div>

    <div class="post__meta">
        <%= $.lang === 'ru' ? 'Опубликовано' : 'Published on' %>
        <time>
            <%-
                include('/modules/parsedDate', {
                    dateString: $.date,
                    lang: $.lang,
                    showYear: true
                })
            %>
        </time>
    </div>
</div>
