---
layout: layouts/default.html
post: true
---
{{ content }}

<p class="meta">
	{{ site.loc.published[page.lang] }} <time class="post-date" datetime="{{ page.date }}">{% include date.htm d=page.date %}</time>

	{% if site.cats[cats] %}
		{% if page.lang == 'ru' %}
			в {% if site.cats[cats].in_r == true %}рубрике {% endif %}<a href="../" class="iconlink">«<span>{{ site.cats[cats].in }}</span>»</a>
		{% else %}
			in <a href="../" class="iconlink">“<span>{{ site.cats[cats].en }}</span>”</a>
		{% endif %}
	{% endif %}
</p>
