---
layout: layouts/content
---
<div class="post">
    <div class="content-box">
        <div class="text">
            <%- _.content %>
        </div>

        <p class="publish-date">
            <%= _.lang === 'ru' ? 'Опубликовано' : 'Published on' %>
            <time>
                <%-
                    include('/modules/parsedDate', {
                        dateString: _.date,
                        lang: _.lang,
                        showYear: true
                    })
                %>
            </time>
        </p>
    </div>
</div>
