@define-mixin demo
    @mixin contentFullwidth
    padding: 5em $contentPadding
    margin-bottom: 2.5em
    color: $inverseTextColor
    background: $demoBgColor

    &.is-fullwidth
        padding-left: 0
        padding-right: 0

    &.is-light
        background: rgba(#766, 0.1)
        color: $textColor

    &.is-small-padding
        padding-top: 2.5em
        padding-bottom: 2.5em
