@define-mixin kbd
    display: inline-block
    vertical-align: 0.1em
    margin: 0 0.2em
    line-height: 1.25
    background: #f9f9f9
    border: 0.09em solid $lightOpaqueBorderColor
    border-radius: 0.25em
    padding: 0 0.25em 0.1em
    font-size: 0.75em
    font-family: inherit
    box-shadow:
        0 0.15em 0 0.1em $lightOpaqueBorderColor,
        inset 0 0 0 0.1em #fff
    white-space: nowrap
