@define-mixin link
    color: $linkColor
    text-decoration: underline

    &:visited
        color: $linkVisitedColor

    &:hover
        color: #fff
        background: $linkHoverBg
        text-decoration: none
