.stickyfill-post,
.stickyfill-post *,
.stickyfill-post *:before {
  color: white;
  background: transparent;
  border-color: white;
}

.stickyfill-post {
  background: crimson;
  background: -webkit-linear-gradient(crimson, darkslategray 87%, #26403A);
  background: -moz-linear-gradient(crimson, darkslategray 87%, #26403A);
  background: -o-linear-gradient(crimson, darkslategray 87%, #26403A);
  background: linear-gradient(crimson, darkslategray 87%, #26403A);
}

@media all and (min-width: 60em) {
  .stickyfill-post {
    font-size: 1.2em;
  }
}

.stickyfill-post p,
.stickyfill-post ul,
.stickyfill-post pre,
.stickyfill-post h2 {
  margin-bottom: 1.5em;
}

.stickyfill-post figure.info {
  border: 1px solid white;
  border: 1px solid rgba(255,255,255,0.5);
}

.stickyfill-post a,
.stickyfill-post a:hover,
.stickyfill-post a *,
.stickyfill-post a:hover * {
  text-decoration: none;
}

.stickyfill-post a {
  border-bottom: 1px solid white;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.stickyfill-post a:hover {
  border-bottom: 1px solid rgba(255,255,255,1);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.stickyfill-post h1,
.stickyfill-post h2,
.stickyfill-post h3,
.stickyfill-post h4 {
  text-align: center;
}

.stickyfill-post .article-title {
  font-size: 4em;
  margin-bottom: 0.2em;
}

.stickyfill-post .article-title a {
  border-bottom-width: 2px;
}

.stickyfill-post .tagline {
  font-size: 0.375em;
}

.stickyfill-post .scroll-me {
  font-size: 4em;
  opacity: 0.4;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: heartbeat;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
  animation-duration: 1.5s;
  animation-name: heartbeat;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.stickyfill-post a.big-fucking-button {
  display: inline-block;
  font-size: 1.2em;
  text-decoration: none;
  padding: 0.5em 0.7em;
  border: 1px solid white;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 0.3em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.stickyfill-post a.big-fucking-button:hover {
  text-decoration: none;
  border-color: deepskyblue;
  background: deepskyblue;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

 @media all and (min-width: 60em) {
  .stickyfill-post a.big-fucking-button {
    font-size: 1.5em;
  }
}

.stickyfill-post section:before,
.stickyfill-post section:after {
  content: '';
  display: table;
}
