<% // Args: lang %>
<div class="text-escape deprication-warning">
    <p>
        <%_ if (_.lang === 'ru') { _%>
            <strong>Устаревшая фигня!</strong>
            Этот пост содержит неактуальную старую фигню и оставлен для истории и лулзов.
        <%_ } else { _%>
            <strong>Depricated crap!</strong>
            This post contains irrelevant old horseshit and is left for history and lulz.
        <%_ } _%>
    </p>
</div>
