<% // Args: src, caption, alt, hasPreview %>
<figure>
    <a href="<%= src %>" target="_blank">
        <img src="<%= hasPreview ? `p_${src}` : src %>" alt="<%= alt %>">
    </a>
    <figcaption><%- caption %></figcaption>
</figure>
