<% // Args: src, caption, alt, hasPreview %>
<figure>
    <figcaption><%= caption %></figcaption>

    <a href="<%= src %>" target="_blank">
        <img src="<%= hasPreview ? `p_${src}` : src %>" alt="<%= alt %>">
    </a>
</figure>
