<% // Args: src, caption, alt, hasPreview %>
<figure>
    <a href="<%= _.src %>" target="_blank">
        <img src="<%= _.hasPreview ? `p_${_.src}` : _.src %>" alt="<%= _.alt %>">
    </a>
    <%_ if (_.caption) { _%>
        <figcaption><%- _.caption %></figcaption>
    <%_ } _%>
</figure>
